{% extends 'layout/admin_panel.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'admin_panel/plugins/iCheck/flat/blue.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Сообщения {% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li class="active">Сообщения </li>
    </ul>
{% endblock %}
{% block header_text %}
    Сообщения
{% endblock %}
{% block content %}


    <div class="row">
        <!--<div class="col-xs-12 col-sm-6">-->
        <!--<h2 class="page-header">Владельцы квартир</h2>-->
        <!--</div>-->
        <div class="col-xs-12">

            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'message_create' %}">Отправить сообщение</a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <form action="" method="get">

                        <input id="search" type="text" name="search" class="form-control input-sm" placeholder="Поиск">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </form>
                </div>
            </div>
        </div>
        <div class="box-body no-padding">

            <div id="w0" class="grid-view">
                <div class="mailbox-controls">
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <button id="delete_many" type="button" class="btn btn-default btn-sm delete-many"><i
                            class="fa fa-trash-o"></i>
                    </button>

                    <div class="pull-right">
                        <ul class="pagination pagination-sm no-margin pull-right"></ul>
                    </div>
                </div>

                <div class="mailbox-messages">
                    <table id="messages_table" class="table table-bordered table-hover table-striped linkedRow" >
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th style="min-width: 200px">Получатели</th>
                            <th>Текст</th>
                            <th style="width: 135px; min-width: 135px">Дата</th>
                        </tr>
                        </thead>
                        <tbody>
{#                        {% for message in message_list %}#}
{#                            {% url 'message_view' message.pk as message_url%}#}
{#                            <tr data-href="{{message_url}}">#}
{#                                <td>#}
{#                                    <input type="checkbox" name="selection[]" value="{{ message.pk }}"#}
{#                                           style="position: absolute; opacity: 0;">#}
{#                                </td>#}
{#                                <td><a href="{{message_url}}">{{ message.get_receiver_label }}</a>#}
{#                                </td>#}
{#                                <td><strong>{{ message.subject }}</strong> - {{ message.text|striptags }}</td>#}
{#                                <td>{{ message.created|date:'d.m.Y - H:m' }}</td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
                        </tbody>
                    </table>
                </div>

                <div class="mailbox-controls">
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm delete-many"><i class="fa fa-trash-o"></i>
                    </button>
                    <div class="pull-right">
                        <ul class="pagination pagination-sm no-margin pull-right"></ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <form>{% csrf_token %}</form>
{% endblock %}
{% block scripts %}
        <script src="{% static 'admin_panel/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'admin_panel/bower_components/moment/moment.js' %}"></script>
    <script>
        $('#nav_message').attr('class', 'active')
    </script>
    <script src="{% static 'admin_panel/plugins/iCheck/icheck.min.js' %}"></script>
    <script>
        let checkboxes = $('.mailbox-messages input[type="checkbox"]')
        let selected_messages = []
        checkboxes.iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });
        checkboxes.on('ifChecked', function () {
            selected_messages.push(this.value)
        });
        checkboxes.on('ifUnchecked', function () {
            let index = selected_messages.indexOf(this.value);
            if (index > -1) {
                selected_messages.splice(index, 1);
            }
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
            let clicks = $(this).data('clicks');
            console.log(clicks)
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".checkbox-toggle > .fa").removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".checkbox-toggle > .fa").removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
            console.log( $(this).data())
        });
    </script>
    <script>
    function send_POST(e) {
                let table = $('#messages_table').DataTable({

                    serverSide: true,
                    autoWidth: false,

                    {#processing: false,#}
                    oLanguage: {
                    sZeroRecords: "Ничего не найдено."
                    },
                    columnDefs: [
                        { targets: '_all', defaultContent:'',className: "message"},
                    ],
                    "ajax": {
                        "processing": true,
                        "url": "{% url 'message_list' %}",
                        "data": function (d) {
                            return d;
                        },
                    },
                    "columns": [
                        {"data": "id"},
                        {"data": "receivers"},
                        {"data": "text",
                            render:function (data,type,row) {
                                return `<strong>${$(data).text()}</strong> - ${row.subject}`
                            }},
                        {"data": "created",
                            render:function (data) {
                                return moment.utc(data).format('DD.MM.YYYY')
                            }}
                            ],
                    paging: true,
                    'lengthChange': false,
                    'pageLength': 10,
                    searching: true,
                    dom: 'lrtp',
                    ordering: false,
                    info: false,
                    initComplete: (settings, json) => {
                    $('.dataTables_paginate').appendTo('.pagination-sm');
                },
                });
                $('#search').keyup(function(){
                      table.search($(this).val()).draw() ;
                })
            }
            $(document).ready(function () {
                send_POST()
            })
    </script>
    <script>
        $('#delete_many').click(function () {
            alertify.confirm('Подтверждение удаления', 'Удалить выбранные сообщения ?',
                function () {
                    $.ajax({
                    type: 'POST',
                    url: '{% url 'message_delete_many' %}',
                    data: {'selected_messages':selected_messages},
                    headers: {
                        "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val()
                    },
                    success: function (data) {
                        location.reload();
                    }
                })
                },
                function () {
                }).set({labels: {ok: 'Подтвердить', cancel: 'Отмена'}});
            })
    </script>
{% endblock %}