{% extends 'layout/basic.html' %}
{% block content %}
    <div class="box">
        <div class="box-body no-padding">
            <div class="mailbox-read-info">
                <h3>{{ message.subject }}</h3>
                <h5>От: {{ message.sender}}<span class="mailbox-read-time pull-right">{{ message.created|date:'d.m.Y - H:m' }}</span>
                </h5>
            </div>
            <div class="mailbox-read-message">
                {{message.text|safe}}</div>
        </div>
        <div class="box-footer">
            <a href="{% url 'message_delete' message.pk %}" data-confirm="Удалить?" data-method="post">
                <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Удалить</button>
            </a>
        </div>
    </div>

{% endblock %}