{% extends 'layout/admin_panel.html' %}
{% load static %}
{% block head %}
    <style>
    .ck-editor__editable {
        min-height: 200px;
    }
    </style>
{% endblock %}
{% block title %}Нове повідомлення{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li><a href="{% url 'message_list' %}">Повідомлення</a></li>
        <li class="active">Нове повідомлення</li>
    </ul>
{% endblock %}
{% block header_text %}
    нове повідомлення
{% endblock %}
{% block content %}
    <div class="box">

        <form id="message_form" method="post">
            {% csrf_token %}
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
                <div class="form-group field-{{ form.subject.id_for_label }}">

                    {{form.subject}}

                    <div class="help-block"></div>
                </div>
                <div class="form-group field-{{ form.text.id_for_label }}">
                    {{form.text}}
                </div>

                <div class="row">

                    <div class="col-xs-12 col-md-6">
                        <h4>Кому відправити:</h4>

                        {% block user_create %}
                        <div class="form-group field-{{ form.owners_has_debt.id_for_label }}">

                            <label>{{form.owners_has_debt}} Власникам із заборгованостями</label>

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-{{ form.house.id_for_label }} ">
                            <label class="control-label" for="{{form.house.id_for_label }}">ЖК</label>
                            {{form.house}}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-{{ form.apartment.id_for_label }} ">
                            <label class="control-label" for="{{ form.section.id_for_label }}">Секція</label>
                            {{form.section}}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-{{ form.apartment.id_for_label }} ">
                            <label class="control-label" for="{{ form.floor.id_for_label }}">Поверх</label>
                            {{form.floor}}


                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-{{ form.apartment.id_for_label }} ">
                            <label class="control-label" for="{{ form.apartment.id_for_label }}">Квартира</label>
                            {{form.apartment}}

                            <div class="help-block"></div>
                        </div>
                        {{form.apartment.id}}
                         {% endblock %}
                    </div>
                </div>

            </div>
            <div class="box-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-success"><i class="fa fa-envelope-o"></i> Надіслати</button>
                </div>
            </div>
            {{form.errors}}
        </form>
    </div>

{% endblock %}
{% block scripts %}
    <script>
    $('#nav_message').attr('class', 'active')
    </script>
        <script src="{% static 'admin_panel/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/select2/dist/js/i18n/uk.js' %}"></script>
        <script type="text/javascript" src="{% static "admin_panel/plugins/ckeditor5-build-classic/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "admin_panel/plugins/ckeditor5-build-classic/translations/ru.js" %}"></script>
    <script>
    $('.select2-field').select2({placeholder: "Всім...",allowClear:true})
    </script>
    <script>
    $(document).ready(
            ClassicEditor.create( document.querySelector( '#id_text' ),{
            language: 'ru',
        toolbar:{
        items: [
'heading',
'|',
'bold',
'italic',
'underline',
'link',
'bulletedList',
'numberedList',
'|',
'outdent',
'indent',
'|',
'blockQuote',
'undo',
'redo'
]
        }
        } )
        .catch (error => {
            console.error(error);
        } )
    )

    </script>
    {% block user_create_scripts %}
    <script>
        let select_options = {}

        function clear_options(target_id) {
            $('#' + `${target_id} option:not([value=''])`).remove()
        }

        function get_values(values) {
            $.ajax({
                type: 'GET',
                url: '{% url 'message_create' %}',
                data: select_options,
                success: function (data) {
                    console.log(data)
                    console.log(select_options)
                    if (data['sections']) {
                        clear_options('id_apartment')
                        clear_options('id_section')
                        data['sections'].forEach(
                            function (item) {
                                $('#id_section').append($('<option>').val(item['id']).text(item['name']));
                            }
                        );
                    }
                    if (data['floors']) {
                        clear_options('id_apartment')
                        clear_options('id_floor')
                        data['floors'].forEach(
                            function (item) {
                                $('#id_floor').append($('<option>').val(item['id']).text(item['name']));
                            }
                        );
                    }
                    if (data['apartments']) {
                        clear_options('id_apartment')
                        data['apartments'].forEach(
                            function (item) {
                                $('#id_apartment').append($('<option>').val(item['id']).text(item['number']));
                            });
                    }
                }
            })
        }

        function set_event_listeners(house = false, section = false, floor = false, apartment = false) {
            if (house) {
                $('#id_house').change(function() {
                    select_options['house_id'] = this.value
                    select_options['section_id'] = ''
                    select_options['floor_id'] = ''
                    select_options['apartment_id'] = ''
                    get_values()
                })
            }
            if (section) {
                $('#id_section').change(function() {
                    select_options['section_id'] = this.value
                    select_options['apartment_id'] = ''
                    get_values()
                })
            }
            if (floor) {
                $('#id_floor').change(function() {
                    select_options['floor_id'] = this.value
                    select_options['apartment_id'] = ''
                    get_values()
                })
            }
        }

        $(document).ready(function() {
                clear_options('id_apartment')
                clear_options('id_section')
                clear_options('id_floor')
                set_event_listeners(true, true, true, true);


            }
        )
    </script>
    {% endblock %}
    <script>
            $( "#message_form" ).validate( {
rules: {
subject: "required",
text: "required",
},
messages: {
subject: "Введіть тему повідомлення.",
text: "Будь ласка, введіть текст повідомлення.",
},
errorElement: "em",
errorPlacement: function ( error, element ) {
error.addClass( "help-block");
element.parents( ".form-group" ).addClass( "has-feedback" );
if ( element.prop( "type" ) === "checkbox" ) {
error.insertAfter( element.parent( "label" ) );
} else {
                        if($(element).hasClass('select2-hidden-accessible')){

                            error.insertAfter( $(element).parent('.form-group').find('.select2'));
                        }
                        else error.insertAfter( element );
}
},
success: function ( label, element ) {
},
highlight: function ( element, errorClass, validClass ) {
$( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
},
unhighlight: function ( element, errorClass, validClass ) {
$( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
}
} );
             $("select").on("select2:close", function (e) {
        $(this).valid();
    });
    </script>
{% endblock %}