{% extends 'layout/website.html' %}
{% block seo_title %} {{ contact_page.seo.title }} {% endblock %}
{% block seo_description %} {{ contact_page.seo.description }} {% endblock %}
{% block seo_keywords %} {{ contact_page.seo.keywords }} {% endblock %}
{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'main_page' %}">Головна</a></li>
                        <li class="active">Контакти</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    {{ contact_page.map_code|safe }}

    <div class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <div class="page-header">
                        <h1>{{ contact_page.title }}</h1>
                    </div>
                    <div class="box">
                        {{contact_page.text|safe}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <div class="page-header">
                        <h3>Контакти</h3>
                    </div>
                    <div class="box">
                        {% if contact_page.full_name %}
                            <p><i class="fas fa-user-circle"></i> {{ contact_page.full_name }}</p>
                        {% endif %}
                        {% if contact_page.location %}
                            <p><i class="fas fa-compass"></i> {{contact_page.location}}</p>
                        {% endif %}
                        {% if contact_page.address %}
                            <p><i class="fas fa-map-marker"></i> {{contact_page.address}}</p>
                        {% endif %}
                        {% if contact_page.phone %}
                            <p><i class="fas fa-phone"></i>
                                <a href="tel:{{ contact_page.phone }}">{{ contact_page.phone }}</a></p>
                        {% endif %}
                        {% if contact_page.email %}
                            <p><i class="fas fa-envelope"></i>
                                <a href="mailto:{{ contact_page.email }}">{{ contact_page.email }}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#nav_contact').attr('class', 'active')
    </script>
{% endblock %}