{% extends 'layout/basic.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            №
                        </div>
                        <div class="form-control pull-right">{{ transaction.number }}</div>
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                        <div class="form-control pull-right">{{ transaction.date|date:'d.m.Y' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">{% if transaction.type %}Приходная{% else %}Расходная{% endif %} ведомость</h3>
            <div class="box-tools">
                <a href="/admin/account-transaction/create?account_transaction_id=1245" class="btn btn-default btn-sm">
                    <span class="hidden-xs">Копировать</span><i class="fa fa-print visible-xs" aria-hidden="true"></i>
                </a>
                <a href="/admin/account-transaction/delete/1245" class="btn btn-default btn-sm" data-method="post"
                   data-confirm="Вы уверены, что хотите удалить этот элемент?">
                    <span class="hidden-xs">Удалить</span><i class="fa fa-envelope-o visible-xs" aria-hidden="true"></i>
                </a>
                <a href="/admin/account-transaction/update/1245" class="btn btn-primary btn-sm">
                    <span class="hidden-xs">Редактировать ведомость</span><i class="fa fa-pencil visible-xs"
                                                                             aria-hidden="true"></i>
                </a>
                <a href="/admin/account-transaction/export-one/1245?export=xls" class="btn btn-default btn-sm">
                    <span class="hidden-xs">Выгрузить в Excel</span><i class="fa fa-pencil visible-xs"
                                                                       aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped table-view">
                <tbody>
                <tr>
                    <td>Владелец квартиры</td>
                    <td>
                        <a href="{% url 'owner_view' transaction.owner_id %}">
                            {{ transaction.owner}} </a>
                    </td>
                </tr>
                <tr>
                    <td>Лицевой счет</td>
                    <td>
                        <a href="{% url 'personal_account_view' transaction.personal_account_id %}">
                            {{ transaction.personal_accounts }} </a>
                    </td>
                </tr>
                <tr>
                    <td>Статья</td>
                    <td>{{ transaction.purpose }}</td>
                </tr>
                <tr>
                    <td>Квитанция</td>
                    <td>
                        не указано
                    </td>
                </tr>
                <tr>
                    <td>Услуга</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Менеджер</td>
                    <td>
                        <a href="/admin/user-admin/1">
                            Ара Ара </a>
                    </td>
                </tr>
                <tr>
                    <td>Сумма</td>
                    <td>
                        <span class="text-green">20 000.00</span>
                    </td>
                </tr>
                <tr>
                    <td>Комментарий</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}