{% extends 'admin_transaction/transaction_create.html' %}
{% block title %}{% if transaction.type %}Прибуткова
                        {% else %} Витратна {% endif %} відомість {% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li><a href="{% url 'transaction_list' %}">Платежі</a></li>
        <li><a href="{% url 'transaction_view' transaction.pk %}">{% if transaction.type %}Прибуткова
        {% else %}Витратна{% endif %} відомість №{{ transaction.number }}</a></li>
        <li class="active">Редагування</li>
    </ul>
{% endblock %}
{% block header_text %}
    {% if transaction.type %}Прибуткова
                        {% else %} Витратна {% endif %} відомість
{% endblock %}
{% block update_buttons %}
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <a href="{% url 'transaction_clone' transaction.pk %}" class="btn btn-default btn-sm">
                <span class="hidden-xs">Копіювати</span><i class="fa fa-print visible-xs" aria-hidden="true"></i>
            </a>
            <button onmousedown="return confirm_delete('{% url 'transaction_delete' transaction.pk %}')" class="btn btn-default btn-sm">
                <span class="hidden-xs">Видалити</span><i class="fa fa-envelope-o visible-xs" aria-hidden="true"></i>
            </button>
        </div>
    </div>
{% endblock %}
{% block ajax_url %}''{% endblock %}
{% block update_script %}
        <script>
            function confirm_delete(link) {
            alertify.confirm('Підтвердження видалення', 'Видалити відомості <b>№{{transaction.number}}</b> ?',
                function () {
                    window.location.href = link
                },
                function () {
                }).set({labels: {ok: 'Підтвердити', cancel: 'Скасувати'}});
            return false;
        }
    </script>
{% endblock %}