{% extends 'layout/admin_panel.html' %}
{% load static %}
{% block header_text %}
    Статистика
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2 class="page-header">В вашем обслуживании</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ houses_count }}</h3>
                    <p>Домов</p>
                </div>
                <div class="icon">
                    <i class="fa fa-building"></i>
                </div>
                <a href="{% url 'house_list' %}" class="small-box-footer">
                    Перейти в дома <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ owners_active_count }}</h3>
                    <p>Активных владельцев</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="{% url 'owner_list' %}" class="small-box-footer">
                    Перейти к владельцам <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ application_in_progress }}</h3>
                    <p>Заявок мастера в работе</p>
                </div>
                <div class="icon">
                    <i class="fa fa-wrench"></i>
                </div>
                <a href="{% url 'application_list' %}" class="small-box-footer">
                    Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ apartments_count }}</h3>
                    <p>Квартир</p>
                </div>
                <div class="icon">
                    <i class="fa fa-key"></i>
                </div>
                <a href="{% url 'apartment_list' %}" class="small-box-footer">
                    Перейти в квартиры <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ personal_accounts_count }}</h3>
                    <p>Лицевых счетов</p>
                </div>
                <div class="icon">
                    <i class="fa fa-child"></i>
                </div>
                <a href="{% url 'personal_account_list' %}" class="small-box-footer">
                    Перейти к счетам <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ application_new }}</h3>
                    <p>Новых заявок мастера</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
                <a href="{% url 'application_list' %}" class="small-box-footer">
                    Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-7 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">График погашения квитанций, грн</h3>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart" style="height: 201px; width: 1031px;" width="1031" height="201"></canvas>
                        <div id="barChart-legend" class="text-center">
                            <ul class="bar-legend">
                                <li><span style="background-color:rgba(221, 75, 57, 1)"></span>Задолженность</li>
                                <li><span style="background-color:rgba(0, 166, 90, 1)"></span>Погашение задолженности
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Задолженность по счетам, грн</span>
                    <span class="info-box-number">{{ accounts_total_debt|floatformat:'2' }}</span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Баланс по счетам, грн</span>
                    <span class="info-box-number">{{ accounts_total_balance|floatformat:'2' }}</span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Состояние кассы, грн</span>
                    <span class="info-box-number">{{ transactions_total_balance|floatformat:'2' }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">График приходов и расходов по кассе, грн</h3>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart2" style="height: 230px; width: 1572px;" width="1572" height="230"></canvas>
                        <div id="barChart2-legend" class="text-center">
                            <ul class="bar-legend">
                                <li><span style="background-color:rgba(0, 166, 90, 1)"></span>Приход</li>
                                <li><span style="background-color:rgba(221, 75, 57, 1)"></span>Расход</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'admin_panel/bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/moment/locale/ru.js' %}"></script>
    <script>
        $('#nav_statistic').attr('class', 'active')
    </script>
    <script>
        let date_labels = []
    let transactions_income = []
    let transactions_outcome = []
    let receipt_debt = []
    let receipt_paid = []
        {% for i in transactions_income %}
            date_labels.push(moment('{{ i.month|date:'Y-m-d' }}').format('MMM, YYYY'))
            transactions_income.push('{{ i.sum|floatformat:'2' }}')
        {% endfor %}
        {% for i in transactions_outcome %}
            transactions_outcome.push('{{ i.sum|floatformat:'2' }}')
        {% endfor %}
        {% for i in receipts_debt_by_month %}
            receipt_debt.push('{{ i.sum|floatformat:'2' }}')
        {% endfor %}
        {% for i in receipts_paid_by_month %}
            receipt_paid.push('{{ i.sum|floatformat:'2' }}')
        {% endfor %}
        var barChartCanvas = $('#barChart').get(0).getContext('2d');
        new Chart(barChartCanvas, {
        type: 'bar',
        data: {
            labels: date_labels,
            datasets: [
                    {
                        label: 'Задолженность',
                        backgroundColor:'rgba(221, 75, 57, 1)',

                        data: receipt_debt
                    },
                    {
                        label: 'Погашение задолженности',
                        backgroundColor: 'rgba(0, 166, 90, 1)',
                        pointColor: '#3b8bba',
                        data: receipt_paid
                    }
                ]
        }
    })
        var barChart2Canvas = $('#barChart2').get(0).getContext('2d');
        new Chart(barChart2Canvas, {
        type: 'bar',
        data: {
            labels: date_labels,
            datasets: [
                    {
                        label: 'Приход',
                        backgroundColor: 'rgba(0, 166, 90, 1)',
                        data: transactions_income
                    },
                    {
                        label: 'Расход',
                        backgroundColor: 'rgba(221, 75, 57, 1)',
                        data: transactions_outcome
                    }
                ]
        }
    })
    </script>
{% endblock %}
