{% extends 'layout/basic.html' %}
{% load static %}
{% block content %}
    <form id="application_form" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-7 col-lg-6">
                <div class="page-header-spec">
                    <div class="form-group field-masterrequest-date_request">
                        <div id="masterrequest-date_request-kvdate" class="input-group  date">
                            {{ form.date }}
                            <span class="input-group-addon kv-date-calendar" title="Выбрать дату"><i
                                class="glyphicon glyphicon-calendar"></i></span></div>
                    </div>
                    <span class="label-mid">от</span>
                    <div class="form-group field-masterrequest-time_request">

                        <div class="input-group bootstrap-timepicker">
                            <div class="bootstrap-timepicker-widget dropdown-menu">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td><a href="#" data-action="incrementHour"><i
                                                class="glyphicon glyphicon-chevron-up"></i></a></td>
                                        <td class="separator">&nbsp;</td>
                                        <td><a href="#" data-action="incrementMinute"><i
                                                class="glyphicon glyphicon-chevron-up"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="bootstrap-timepicker-hour">16</span></td>
                                        <td class="separator">:</td>
                                        <td><span class="bootstrap-timepicker-minute">00</span></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" data-action="decrementHour"><i
                                                class="glyphicon glyphicon-chevron-down"></i></a></td>
                                        <td class="separator"></td>
                                        <td><a href="#" data-action="decrementMinute"><i
                                                class="glyphicon glyphicon-chevron-down"></i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            {{ form.time }}
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-body">
                <div class="row">

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="user_id">Владелец квартиры</label>
                            {{ form.owner }}
                            </div>
                    </div>


                    <div class="col-xs-12 col-md-6">
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group field-masterrequest-description">
                            <label class="control-label" for="masterrequest-description">Описание</label>
                            {{form.description}}
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group field-masterrequest-flat_id">
                            <label class="control-label" for="masterrequest-flat_id">Квартира</label>
                            {{ form.apartment }}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-master-type">
                            <label class="control-label" for="master-type">Тип мастера</label>
                            {{ form.master_types }}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-masterrequest-status">
                            <label class="control-label" for="masterrequest-status">Статус</label>
                            {{ form.status }}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-masterrequest-user_admin_id">
                            <label class="control-label" for="masterrequest-user_admin_id">Мастер</label>
                            {{form.master}}

                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group field-masterrequest-comment">
                            <label class="control-label" for="masterrequest-comment">Комментарий</label>
                            <ul class="wysihtml5-toolbar" style="">
                                <li class="dropdown">
                                    <a class="btn btn-default dropdown-toggle btn-none" data-toggle="dropdown">

                                        <span class="fa fa-font"></span>

                                        <span class="current-font">Обычный текст</span>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p"
                                               tabindex="-1" href="javascript:;" unselectable="on"
                                               class="wysihtml5-command-active">Обычный текст</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1"
                                               tabindex="-1" href="javascript:;" unselectable="on">Заголовок 1</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2"
                                               tabindex="-1" href="javascript:;" unselectable="on">Заголовок 2</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3"
                                               tabindex="-1" href="javascript:;" unselectable="on">Заголовок 3</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4"
                                               tabindex="-1" href="javascript:;" unselectable="on">Заголовок 4</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5"
                                               tabindex="-1" href="javascript:;" unselectable="on">Заголовок 5</a></li>
                                        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6"
                                               tabindex="-1" href="javascript:;" unselectable="on">Заголовок 6</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="btn-group">
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="bold" title="CTRL+B"
                                           tabindex="-1" href="javascript:;" unselectable="on">Полужирный</a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="italic"
                                           title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Курсив</a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="underline"
                                           title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Подчёркнутый</a>

                                    </div>
                                </li>
                                <li>
                                    <div class="btn-group">
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="insertUnorderedList"
                                           title="Маркированный список" tabindex="-1" href="javascript:;"
                                           unselectable="on">

                                            <span class="fa fa-list-ul"></span>

                                        </a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="insertOrderedList"
                                           title="Нумерованный список" tabindex="-1" href="javascript:;"
                                           unselectable="on">

                                            <span class="fa fa-list-ol"></span>

                                        </a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="Outdent"
                                           title="Уменьшить отступ" tabindex="-1" href="javascript:;" unselectable="on">

                                            <span class="fa fa-outdent"></span>

                                        </a>
                                        <a class="btn btn-none btn-default" data-wysihtml5-command="Indent"
                                           title="Увеличить отступ" tabindex="-1" href="javascript:;" unselectable="on">

                                            <span class="fa fa-indent"></span>

                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <textarea id="masterrequest-comment" class="compose-textarea form-control"
                                      name="MasterRequest[comment]" rows="8" style="display: none;"></textarea><input
                                type="hidden" name="_wysihtml5_mode" value="1">
                            <iframe class="wysihtml5-sandbox" security="restricted" allowtransparency="true"
                                    marginwidth="0" marginheight="0"
                                    style="display: block; background-color: rgb(255, 255, 255); border-collapse: separate; border-color: rgb(210, 214, 222); border-style: solid; border-width: 1px; clear: none; float: none; margin: 0px; outline: rgb(85, 85, 85) 0px; outline-offset: 0px; padding: 6px 12px; position: static; inset: auto; z-index: auto; vertical-align: text-bottom; text-align: start; box-sizing: border-box; box-shadow: none; border-radius: 0px; width: 1572px; height: 174px;"
                                    width="0" height="0" frameborder="0"></iframe>

                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <a href="/admin/master-request/index" class="btn btn-default">Отменить</a>
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script>
        $('#nav_application').attr('class', 'active')
    </script>
    <script src="{% static 'admin_panel/bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/moment/locale/ru.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/select2/dist/js/i18n/ru.min.js' %}"></script>
    <script>
             $(function () {
             $('#meter_date').datetimepicker({
                     maxDate: moment(),
                     locale: 'ru',
                     format: 'L',
                    date: moment()
                 }
             );
         });
    </script>
    <script>
    let select_options = {
        'house_id':'',
        'section_id':''
    }
    let apartments_data
        function clear_options(target_id) {
            $('#' + `${target_id} option:not([value=''])`).remove()
        }
    {% block ajax_link_set %}{% endblock %}

    function get_values(values) {
        $.ajax({
            type: 'GET',
            url: {% block ajax_url %}'{% url 'meter_create' %}'{% endblock %},
            data: select_options,
            success: function (data) {
                clear_options('id_apartment')
                apartments_data = data['apartment']
                console.log(data)
                console.log(apartments_data)
                if(!select_options['section_id']){
                    clear_options('id_section')
                                    data['section'].forEach(
                    function (item) {
                        $('#id_section').append($('<option>').val(item['id']).text(item['name']));
                    }
                );
                }

                data['apartment'].forEach(
                    function (item) {
                        $('#id_apartment').append($('<option>').val(item['id']).text(item['number']));
                    }
                );
                if (values){
                    if (values[1]){
                        $('#id_section').unbind().val(values[1]).change().select2({placeholder: "Выберите..."})
                        select_options['section_id'] = values[1]
                        get_values([values[0]])
                        set_event_listeners()
                    }
                    console.log(values)
                    $('#id_apartment').val(values[0]).change();

                    {#set_event_listeners()#}
                }

            }
        })
    }
    function set_event_listeners(){
        $('#id_house').change(function () {
        select_options['house_id'] = this.value
        select_options['section_id'] = ''
        get_values()
    })
    $('#id_section').change(function () {
        select_options['section_id'] = this.value
        get_values()
    })
    }


        $(document).ready(function ()
            {
                let select_apartment =$('#id_apartment').select2({placeholder: "Выберите...", allowClear:true})
                let select_master =$('#id_master').select2({placeholder: "Выберите..."})
                let select_master_types =$('#id_master_types').select2({placeholder: "Выберите..."})
                let select_owner =$('#id_owner').select2({placeholder: "Выберите...", allowClear:true})
                $('#id_status').select2({placeholder: "Выберите..."})

                {% block clone %}
                    select_apartment.val('')
                    {#clear_options('id_apartment')#}
                 {% endblock %}

                set_event_listeners()
            }

        )

    </script>
{% endblock %}