{% extends 'layout/basic.html' %}
{% load static %}
{% block content %}


    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                        <div class="form-control pull-right">{{ application.date|date:"d.m.Y" }}</div>
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-time"></i>
                        </div>
                        <div class="form-control pull-right">{{ application.time|time:'H:i' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <a href="{% url 'application_update' application.pk %}" class="btn btn-primary btn-sm">
                            <span class="hidden-xs">Редактировать заявку</span><i class="fa fa-pencil visible-xs"
                                                                                  aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped table-view">
                        <tbody>
                        <tr>
                            <td>Статус</td>
                            <td><small class="label label-{% if application.status == application.StatusName.NEW %}primary
                            {% elif application.status == application.StatusName.IN_PROGRESS %}warning
                            {% else %}success
                            {% endif %}">{{ application.status }}</small></td>
                        </tr>
                        <tr>
                            <td>Владелец</td>
                            <td>
                                <a href="{% url 'owner_view' application.owner_id %}">
                                    {{ application.owner}} </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td>{{ application.owner.phone }}</td>
                        </tr>
                        <tr>
                            <td>Квартира</td>
                            <td>
                                <a href="{% url 'apartment_view' application.apartment_id %}">
                                    {{ application.apartment.info}} </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Тип мастера</td>
                            <td>{{ application.master.role.role }}</td>
                        </tr>
                        <tr>
                            <td>Мастер</td>
                            <td>
                                <a href="{% url 'view_user' application.master_id%}">
                                    {{ application.master }} ({{ application.master.role.role }}) </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>
                                {{ application.description }}
                            </td>
                        </tr>
                        <tr>
                            <td>Добавлено</td>
                            <td id="date_add"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
        <script>
        $('#nav_application').attr('class', 'active')
    </script>
        <script src="{% static 'admin_panel/bower_components/moment/moment.js' %}"></script>
    <script>
    $('#date_add').text(moment('{{ application.date_add|date:"c" }}').format('DD.MM.YYYY - HH:mm'))
    </script>
{% endblock %}