{% extends 'admin_application/application_create.html' %}
{% block title %}Заявка №{{ application.pk }}{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li><a href="{% url 'application_list' %}">Заявки виклику майстра</a></li>
        <li><a href="{% url 'application_view' application.pk %}">Заявка №{{ application.pk }}</a></li>
        <li class="active">Редагування</li>
    </ul>
{% endblock %}
{% block header_text %}
    Заявка №{{application.pk}}
{% endblock %}
{% block ajax_url %}'{% url 'application_update' application.pk%}'{% endblock %}
{% block update %}
    <p><b>Будинок:</b> <a href="{% url 'house_view' application.apartment.house_id %}"> {{ application.apartment.house.name}}</a></p >
    <p><b>Секція:</b>{% if application.apartment.section %} {{ application.apartment.section}}{% else %} Не задано{% endif %}</p>
    <p><b>Поверх:</b>{% if application.apartment.floor %} {{ application.apartment.floor }}{% else %} Не задано{% endif %}</p>
{% endblock %}
{% block update_script %}
<script>
        select_options['owner_id'] = $('#id_owner').val()
        select_options['owner_change'] = 'True';
        select_options['master_type'] = $('#id_master_type').val()
        select_options['master_type_change'] = 'True'
        get_values(values=[{'target':'#id_apartment','value':`${$('#id_apartment').val()}`},
                            {'target':'#id_master','value':`${$('#id_master').val()}`}]);
        select_options['owner_change'] = ''
        select_options['master_type_change'] = ''
</script>
{% endblock %}
