version: "3.9"
services:
  nginx:
    build: ./nginx
    restart: on-failure
    volumes:
      - static_volume:/home/app/home24/static
      - media_volume:/home/app/home24/media
    ports:
      - "80:80"
    depends_on:
      - web

  web:
    build: .
    restart: always
    command: make init

    volumes:
      - static_volume:/home/app/home24/static
      - media_volume:/home/app/home24/media
    env_file:
      - ./.env
    depends_on:
      - db

  db:
    image: postgres:14.6
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

volumes:
  static_volume:
  media_volume:
  postgres_data: