{% extends 'layout/cabinet.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'admin_panel/plugins/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css' %}"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <button onclick="clear_filters()" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs"
                                                                      aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table id="receipt_table" class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th><a id="date" class="ordering" style="cursor: pointer">Дата</a></th>
                                <th>Статус</th>
                                <th>Сумма</th>
                            </tr>
                            <tr id="w0-filters" class="filters">
                                <td>&nbsp;</td>
                                <td><input type="text" id="date_input" class="form-control"></td>
                                <td><select id="status" class="form-control select2 filter" style="width: 100%">
                                    <option value=""></option>
                                    {% for status in status_list %}
                                        <option value="{{ status }}">{{ status }}</option>
                                    {% endfor %}
                                </select></td>
                                <td>&nbsp;</td>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li class="prev disabled"><span>«</span></li>
                            <li class="active"><a href="/cabinet/invoice/index?page=1" data-page="0">1</a></li>
                            <li><a href="/cabinet/invoice/index?page=2" data-page="1">2</a></li>
                            <li><a href="/cabinet/invoice/index?page=3" data-page="2">3</a></li>
                            <li><a href="/cabinet/invoice/index?page=4" data-page="3">4</a></li>
                            <li class="next"><a href="/cabinet/invoice/index?page=2" data-page="1">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        {#$('#nav_receipt').attr('class', 'active')#}
    </script>

    <script src="{% static 'admin_panel/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/select2/dist/js/i18n/ru.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'admin_panel/bower_components/datatables.net/jquery.dataTables.min.js' %}">
    </script>
    <script src="{% static 'admin_panel/bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/moment/locale/ru.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script>
        let numb = 0
        let sort_data = {}
        let table
        let table_head = $('#receipt_table thead')
        let label_colors = {
            'Оплачена': 'label-success',
            'Не оплачена': 'label-danger',
            'Частично оплачена': 'label-warning',
        }

        function numberWithSpaces(nr) {
            return nr.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        function check_empty(data) {
            if (data) {
                return data
            } else return '(не задано)'
        }

        function clear_filters() {
            table_head.unbind();
            $('#date_input').val('')
            $('.filter').val('').change()
            $('.ordering').attr('class', 'ordering');
            set_filters_listener()
            let keys = Object.keys(sort_data)
            keys.forEach(function (item) {
                sort_data[item] = ''
            })
            numb = 0
            table.draw()

        }


        function send_POST(e) {
            table = $('#receipt_table').DataTable({
                serverSide: true,
                processing: false,
                ordering: false,
                oLanguage: {
                    sZeroRecords: "Ничего не найдено."
                },
                columnDefs: [
                    {targets: '_all', className: "receipt", defaultContent: ''},
                ],
                "ajax": {
                    "processing": true,
                    "url": "{% if view.kwargs.apartment_id %}{% url 'cabinet_receipt_list_apartment' view.kwargs.apartment_id %}{% else %}{% url 'cabinet_receipt_list' %}{% endif %}",
                    "data": function (d) {
                        return sort_data;
                    },
                    dataSrc: function (data) {
                        console.log(data)
                        return data['receipts']
                    }
                },

                "columns": [
                    {data: 'number'},
                    {
                        data: 'date',
                        render: function (data) {
                            return moment(`${data}`).format('DD.MM.YYYY')
                        }
                    },
                    {
                        data: 'status',
                        render: function (data) {
                            return `<small class="label ${label_colors[data]}">${data}</small>`
                        }
                    },
                    {
                        data: 'total_price',
                        render: function (data) {
                            return numberWithSpaces(data)
                        }
                    },
                ],
                paging: false,
                searching: false,
                info: false,
            });
        }

        function set_filters_listener() {
            table_head.on('change', ".filter", function a(e) {
                sort_data[this.id] = $(this).val()
                numb = 0
                table.draw()
            });
            table_head.on('click', '.ordering', function () {
                if (this.className === 'ordering asc') {
                    $(this).attr('class', 'ordering desc')
                    sort_data['order_by'] = '-' + this.id
                } else {
                    $(this).attr('class', 'ordering asc')
                    sort_data['order_by'] = this.id
                }
                table_head.find('.ordering').not(this).attr('class', 'ordering')
                numb = 0
                table.draw()
            })

        }

        $('#receipt_table').on('click', 'tbody tr .receipt', function () {
            window.location.href = '{% url 'cabinet_receipt_view' 12345%}'
                .replace(/12345/, table.row(this).data().id)
        })


        $(document).ready(function () {

            send_POST();
            $('.column_search').val('');
            $('.select2').select2().val('');
            set_filters_listener()

            $(function () {
                $('#date_input').datepicker({
                    format: "dd.mm.yyyy",
                    language: "ru",
                }).change(function (date) {
                    sort_data['date'] = moment(`${this.value}`, 'L').format('YYYY-MM-DD')
                    numb = 0
                    table.draw()
                })
            });
        });
    </script>

{% endblock %}