{% extends 'layout/admin_panel.html' %}
{% load static %}
{% block title %}Редактирование страницы {% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li class="active">Редактирование страницы </li>
    </ul>
{% endblock %}
{% block header_text %}
    Редактирование страницы
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Редактирование страницы "О нас"</h3>
                </div>
                <div class="box-body">
                    <form id="about_page_form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="page-header">Информация</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group field-{{about_page_form.title.id_for_label}}">
                                    <label class="control-label" for="{{about_page_form.title.id_for_label}}">Заголовок</label>
                                    {{about_page_form.title}}

                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group field-{{about_page_form.text.id_for_label}}">
                                    <label class="control-label" for="{{about_page_form.text.id_for_label}}">Краткий
                                        текст</label>
                                    {{about_page_form.text}}
                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Фото директора</h4>
                                <img src="{% if about_page_form.instance.photo %}
                                    {{ about_page_form.instance.photo.url }}
                                       {% else %}{% static 'admin_panel/dist/img/placeholder_522x350.jpeg' %}
                                {% endif %}"
                                     alt="">
                                <div class="form-group field-{{about_page_form.photo.id_for_label}}">
                                    <label class="control-label" for="{{about_page_form.photo.id_for_label}}">
                                        Рекомендуемый размер:(250x310)</label>
                                    {{ about_page_form.photo }}
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row site-about-gallery">
                            <div class="col-xs-12">
                                <h3 class="page-header">Фотогалерея</h3>
                            </div>
                            {% for gallery in gallery_list %}
                            <div class="col-xs-4 col-sm-2 text-center">
                                <img src="{{gallery.image.url}}"
                                     alt="" class="margin-bottom-15 img-thumbnail">
                                <div class="form-group margin-bottom-15">
                                    <a onclick="confirm_delete(
                                        '{% url 'website_delete_gallery_image' gallery.pk %}')"
                                       style="cursor: pointer"
                                       title="Удалить"><i class="fa fa-trash text-red" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-xs-12">
                                <div class="form-group field-{{gallery_form.image.id_for_label}}">
                                    <label class="control-label" for="{{gallery_form.image.id_for_label}}">Рекомендуемый
                                        размер: (1200x1200)</label>
                                    {{gallery_form.image}}

                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <h3 class="page-header">Дополнительная информация</h3>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group field-{{about_page_form.additional_title.id_for_label}}">
                                    <label class="control-label" for="{{about_page_form.additional_title.id_for_label}}">
                                        Заголовок</label>
                                    {{about_page_form.additional_title}}

                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group field-{{about_page_form.additional_text.id_for_label}}">
                                    <label class="control-label" for="{{about_page_form.additional_text.id_for_label}}">
                                        Краткий текст</label>
                                    {{about_page_form.additional_text}}
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row site-about-gallery">
                            <div class="col-xs-12">
                                <h3 class="page-header">Дополнительная фотогалерея</h3>
                            </div>
                            {% for additional_gallery in additional_gallery_list %}
                            <div class="col-xs-6 col-sm-4 col-md-2 text-center">
                                <img src="{{additional_gallery.image.url}}"
                                     alt="" class="margin-bottom-15 img-thumbnail">
                                <div class="form-group margin-bottom-15">
                                    <a onclick="confirm_delete(
                                        '{% url 'website_delete_additional_gallery_image' additional_gallery.pk %}')"
                                       style="cursor: pointer"
                                       title="Удалить"><i class="fa fa-trash text-red" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="col-xs-12">
                                <div class="form-group field-{{additional_gallery_form.image.id_for_label}}">
                                    <label class="control-label" for="{{additional_gallery_form.image.id_for_label}}">
                                        Рекомендуемый размер: (1200x1200)</label>
                                    {{additional_gallery_form.image}}
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row site-about-documents">
                            <div class="col-xs-12">
                                <h3 class="page-header">Документы</h3>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div id="form-document-rows">
                                    {{ document_formset.management_form }}
                                    {% for document in document_formset %}
                                        <div id="form-{{ document.prefix }}" class="form-document">
                                            {% for hidden in document.hidden_fields %}
                                            <div class="form-group field-{{ hidden.id_for_label }}">
                                                {{ hidden }}
                                                <div class="help-block"></div>
                                            </div>
                                            {% endfor %}
                                        <div class="form-group">
                                            <a class="pull-right text-red" style="cursor: pointer"
                                            onclick="delete_form('{{ document.prefix }}')">
                                                <i class="fa fa-trash"></i></a>
                                            {% if document.instance.file.name|slice:"-3:" == "pdf" %}
                                                <i class="fa fa-file-pdf-o fa-3x pull-left"
                                                   style="width: 32px;" aria-hidden="true"></i>
                                                {% elif  document.instance.file.name|slice:"-3:" == "jpg" %}
                                                <img class="fa fa-3x pull-left" width="32" height="42"
                                                 src="{{ document.instance.file.url }}"
                                                 alt="">
                                                {% else %}
                                                <i class="fa fa-file-o fa-3x pull-left"
                                               style="width: 32px;" aria-hidden="true"></i>
                                            {% endif %}
                                        <label for="{{document.file.id_for_label}}">PDF, JPG (макс. размер 20
                                                Mb)</label>
                                            {{document.file}}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{document.title.id_for_label}}">Название документа</label>
                                            {{document.title}}
                                    </div>
                                        <div hidden>{{ document.DELETE }}</div>
                                        </div>
                                    {% endfor %}

                                </div>
                                <div id="empty-document" class="form-document" hidden>
                                        <div class="form-group">
                                            <a style="cursor: pointer" class="pull-right text-red"
                                               onclick="delete_form('{{ document_formset.empty_form.prefix }}')">
                                                <i class="fa fa-trash"></i></a>
                                            <i class="fa fa-file-o fa-3x pull-left"
                                               style="width: 32px;" aria-hidden="true"></i>
                                        <label for="{{document_formset.empty_form.file.id_for_label}}">
                                            PDF, JPG (макс. размер 20Mb)</label>
                                            {{document_formset.empty_form.file}}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{document_formset.empty_form.title.id_for_label}}">
                                                Название документа</label>
                                            {{document_formset.empty_form.title}}
                                    </div>
                                    <div hidden>{{ document_formset.empty_form.DELETE }}</div>
                                        </div>
                                <div class="btn-group">
                                    <button type="button" id="add_document_form"
                                            class="btn btn-success margin-bottom-15 form-row-add-websitedocument-btn">
                                        Добавить документ
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="page-header">Настройки SEO</h3>
                                <div class="form-group field-{{ seo_form.title.id_for_label }}">
                                    <label class="control-label"
                                           for="{{ seo_form.title.id_for_label }}">Title</label>
                                    {{ seo_form.title }}
                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group field-{{ seo_form.description.id_for_label }}">
                                    <label class="control-label" for="{{ seo_form.description.id_for_label }}">
                                        Description</label>
                                    {{ seo_form.description }}
                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group field-{{ seo_form.keywords.id_for_label }}">
                                    <label class="control-label"
                                           for="{{ seo_form.keywords.id_for_label }}">Keywords</label>
                                    {{ seo_form.keywords }}
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="form-group">
                                    <a href="{% url 'website_about_page' %}" class="btn btn-default">Отменить</a>
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
        <script>
        $('#website_settings').attr('class', 'active treeview menu-open')
        $('#nav_about_page').attr('class', 'active')
    </script>
        <script type="text/javascript"
            src="{% static "admin_panel/plugins/ckeditor5-build-classic/ckeditor.js" %}"></script>
    <script type="text/javascript"
            src="{% static "admin_panel/plugins/ckeditor5-build-classic/translations/ru.js" %}"></script>
<script src="{% static 'admin_panel/js/add_delete_form.js' %}"></script>
    <script>
            {% for document in  document_formset.errors %}
            {% for error in  document.file %}
            toastr.error('Документ {{ forloop.parentloop.counter }} - {{ error|join:"" }}')
            {% endfor %}
            {% endfor %}
    {% for error in  about_page_form.photo.errors %}
            toastr.error('Фото директора - {{ error|join:"" }}')
            {% endfor %}
    {% for error in  gallery_form.image.errors%}
            toastr.error('Фотогалерея - {{ error|join:"" }}')
            {% endfor %}
    {% for error in  additional_gallery_form.image.errors %}
            toastr.error('Дополнительная фотогалерея - {{ error|join:"" }}')
            {% endfor %}
    </script>
    <script>
            function confirm_delete(link) {
            alertify.confirm('Подтверждение удаления', 'Удалить фото?',
                function () {
                    window.location.href = link
                },
                function () {
                }).set({labels: {ok: 'Подтвердить', cancel: 'Отмена'}});
            return false;
        }
    </script>
    <script>
    let totalWebsiteDocumentForms = $('#id_document-TOTAL_FORMS')
    $(document).ready(function () {
        init_cke_editor($('.compose-textarea:visible'))
    })
    function init_cke_editor(targets) {
        targets.each(function () {
            ClassicEditor.create(this, {
                    language: 'ru',
                    toolbar: {
                        items: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'underline',
                            'link',
                            'bulletedList',
                            'numberedList',
                            '|',
                            'outdent',
                            'indent',
                            '|',
                            'blockQuote',
                            'undo',
                            'redo'
                        ]
                    }
                })
                    .catch(error => {
                        console.error(error);
                    })
        })

    }
    $('#add_document_form').on('click', function () {
            add_form('document', 'empty-document', 'form-document-rows', totalWebsiteDocumentForms)
        })
    </script>
{% endblock %}