{% extends 'layout/admin_panel.html' %}
{% load static %}
{% block title %}Редактирование страницы {% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li class="active">Редактирование страницы </li>
    </ul>
{% endblock %}
{% block header_text %}
    Редактирование страницы
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Редактирование страницы "Главная"</h3>
                    <div class="box-tools">
                        <a href="/admin/website/update-seo-files" class="btn btn-default btn-sm updateSeoFiles">
                            <span class="hidden-xs">Обновить robots и sitemap</span><i class="fa fa-refresh visible-xs"
                                                                                       aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <form id="main_page_form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="page-header">Слайдер</h3>
                        <div class="row site-main-slider">
                            <div class="col-md-4">
                                <h4>Слайд 1</h4>
                                <img src="{% if main_page_form.instance.image1 %}
                                    {{ main_page_form.instance.image1.url }}
                                    {% else %}{% static 'admin_panel/dist/img/placeholder_522x350.jpeg' %}
                                {% endif %}"
                                     alt="" class="img-responsive margin-bottom-15">
                                <div class="form-group margin-bottom-30 field-{{ main_page_form.image1.id_for_label }}">
                                    <label class="control-label" for="{{ main_page_form.image1.id_for_label }}">Рекомендуемый
                                        размер: (1920x800)</label>
                                    {{ main_page_form.image1 }}
                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Слайд 2</h4>
                                <img src="{% if main_page_form.instance.image2 %}
                                    {{ main_page_form.instance.image2.url }}
                                       {% else %}{% static 'admin_panel/dist/img/placeholder_522x350.jpeg' %}
                                {% endif %}"
                                     alt="" class="img-responsive margin-bottom-15">
                                <div class="form-group margin-bottom-30 field-{{ main_page_form.image2.id_for_label }}">
                                    <label class="control-label" for="{{ main_page_form.image2.id_for_label }}">Рекомендуемый
                                        размер: (1920x800)</label>
                                    {{ main_page_form.image2 }}
                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Слайд 3</h4>
                                <img src="{% if main_page_form.instance.image3 %}
                                    {{ main_page_form.instance.image3.url }}
                                        {% else %}{% static 'admin_panel/dist/img/placeholder_522x350.jpeg' %}
                                {% endif %}"
                                     alt="" class="img-responsive margin-bottom-15">
                                <div class="form-group margin-bottom-30 field-{{ main_page_form.image3.id_for_label }}">
                                    <label class="control-label" for="{{ main_page_form.image3.id_for_label }}">Рекомендуемый
                                        размер: (1920x800)</label>
                                    {{ main_page_form.image3 }}
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="page-header">Краткая информация</h3>
                                <div class="form-group field-{{ main_page_form.title.id_for_label }}">
                                    <label class="control-label"
                                           for="{{ main_page_form.title.id_for_label }}">Заголовок</label>
                                    {{ main_page_form.title }}

                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group field-{{ main_page_form.text.id_for_label }}">
                                    <label class="control-label" for="{{ main_page_form.text.id_for_label }}">Краткий
                                        текст</label>
                                    {{ main_page_form.text }}

                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group field-{{ main_page_form.show_app_urls.id_for_label }}">

                                    <label>{{ main_page_form.show_app_urls }} Показать ссылки на
                                        приложения</label>

                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row near-img">
                            <div class="col-xs-12">
                                <h3 class="page-header">Рядом с нами</h3>
                            </div>
                            {{ block_formset.management_form }}
                            {% for block in block_formset %}
                                <div class="col-md-4">
                                    <h4>Блок {{ forloop.counter }}</h4>
                                    <img src="{% if block.instance.image %}
                                        {{ block.instance.image.url }}
                                        {% else %}{% static 'admin_panel/dist/img/placeholder_522x350.jpeg' %}
                                    {% endif %}"
                                         alt="" class="img-responsive margin-bottom-15">
                                    {% for hidden in block.hidden_fields %}
                                        <div class="form-group field-{{ hidden.id_for_label }}">
                                            {{ hidden }}
                                            <div class="help-block"></div>
                                        </div>
                                    {% endfor %}
                                    <div class="form-group field-{{ block.image.id_for_label }}">
                                        <label class="control-label" for="{{ block.image.id_for_label }}">Рекомендуемый
                                            размер: (1000x600)</label>
                                        {{ block.image }}

                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-{{ block.title.id_for_label }}-title">
                                        <label class="control-label" for="{{ block.title.id_for_label }}">Заголовок
                                            блока</label>
                                        {{ block.title }}

                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group margin-bottom-30 field-{{ block.description.id_for_label }}">
                                        <label class="control-label"
                                               for="{{ block.description.id_for_label }}">Описание</label>
                                        {{ block.description }}

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="page-header">Настройки SEO</h3>
                                <div class="form-group field-{{ seo_form.title.id_for_label }}">
                                    <label class="control-label" for="{{ seo_form.title.id_for_label }}">Title</label>
                                    {{ seo_form.title }}
                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group field-{{ seo_form.description.id_for_label }}">
                                    <label class="control-label"
                                           for="{{ seo_form.description.id_for_label }}">Description</label>
                                    {{ seo_form.description }}

                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group field-{{ seo_form.keywords.id_for_label }}">
                                    <label class="control-label"
                                           for="{{ seo_form.keywords.id_for_label }}">Keywords</label>
                                    {{ seo_form.keywords }}

                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="form-group">
                                    <a href="{% url 'website_main_page' %}" class="btn btn-default">Отменить</a>
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#website_settings').attr('class', 'active treeview menu-open')
        $('#nav_main_page').attr('class', 'active')
    </script>
    <script>
        {% for error in  main_page_form.image1.errors %}
            toastr.error('Слайд 1 - {{ error }}')
        {% endfor %}
        {% for error in  main_page_form.image2.errors %}
            toastr.error('Слайд 2 - {{ error}}')
        {% endfor %}
        {% for error in  main_page_form.image3.errors %}
            toastr.error('Слайд 3 - {{ error }}')
        {% endfor %}
        {% for error in  seo_form.errors %}
            toastr.error('{{ error|join:"" }}')
        {% endfor %}
        {% for block_error in  block_formset.errors %}
            {% for error in  block_error.image %}
            toastr.error('Блок {{ forloop.parentloop.counter }} - {{ error|join:"" }}')
            {% endfor %}
        {% endfor %}
    </script>
    <script type="text/javascript"
            src="{% static "admin_panel/plugins/ckeditor5-build-classic/ckeditor.js" %}"></script>
    <script type="text/javascript"
            src="{% static "admin_panel/plugins/ckeditor5-build-classic/translations/ru.js" %}"></script>
    <script>
            $('.compose-textarea').each(function () {
                ClassicEditor.create(this, {
                    language: 'ru',
                    toolbar: {
                        items: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'underline',
                            'link',
                            'bulletedList',
                            'numberedList',
                            '|',
                            'outdent',
                            'indent',
                            '|',
                            'blockQuote',
                            'undo',
                            'redo'
                        ]
                    }
                })
                    .catch(error => {
                        console.error(error);
                    })

            })

    </script>
{% endblock %}
