{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Новая квартира{% endblock %}
{% block breadcrumb %}
        <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li><a href="{% url 'apartment_list' %}">Квартиры</a></li>
        <li class="active">Квартира</li>
</ul>
{% endblock %}
{% block header_text %}
    Новая квартира
{% endblock %}
{% block content %}


    <div class="box">
        <div class="box-body">

            <form id="apartment_form" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-push-6">
                        <div class="form-group field-flatform-account_uid ">
                            <label class="control-label" for="flatform-account_uid">Лицевой счет</label>
                            <input type="text" id="flatform-account_uid" class="form-control"
                                   name="FlatForm[account_uid]"> <select id="account_uid"
                                                                         class="form-control select2-hidden-accessible"
                                                                         name="account_uid"
                                                                         data-s2-options="s2options_7ebc6538"
                                                                         data-krajee-select2="select2_27ecbd8a"
                                                                         style="display:none" tabindex="-1"
                                                                         aria-hidden="true">
                            <option value="">или выберите из списка...</option>
                            <option value="05102200326">05102200326</option>
                            <option value="12102200337">12102200337</option>
                            <option value="19102200339">19102200339</option>
                            <option value="новий рахунок до цієї прекрасної квартири">новий рахунок до цієї прекрасної
                                квартири
                            </option>
                            <option value="03112200343">03112200343</option>
                        </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                       style="width: 100%;"><span class="selection"><span
                                class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                                aria-expanded="false" tabindex="0" aria-labelledby="select2-account_uid-container"><span
                                class="select2-selection__rendered" id="select2-account_uid-container"><span
                                class="select2-selection__placeholder">или выберите из списка...</span></span><span
                                class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span
                                class="dropdown-wrapper" aria-hidden="true"></span></span>
                            <div class="help-block"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-pull-6">
                        <input type="hidden" id="flatform-id" name="FlatForm[id]">
                        <div class="form-group field-flatform-flat required">
                            <label class="control-label" for="flatform-flat">Номер квартиры</label>
                            {{form.number}}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-flatform-square">
                            <label class="control-label" for="flatform-square">Площадь (кв.м.)</label>
                            {{form.area}}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-flatform-house_id required">
                            <label class="control-label" for="flatform-house_id">Дом</label>
                            {{ form.house }}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-flatform-section_id">
                            <label class="control-label" for="flatform-section_id">Секция</label>
                            {{ form.section }}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-flatform-floor_id">
                            <label class="control-label" for="flatform-floor_id">Этаж</label>
                            {{ form.floor }}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-flatform-user_id">
                            <label class="control-label" for="flatform-user_id">Владелец</label>
                            {{ form.owner }}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-flatform-tariff_id">
                            <label class="control-label" for="flatform-tariff_id">Тариф</label>
                            {{ form.tariff }}


                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <a href="{% url 'apartment_list' %}" class="btn btn-default margin-bottom-15">Отменить</a>
                            <input type="submit" class="btn btn-success margin-bottom-15" name="action_save"
                                   value="Сохранить"> <input type="submit"
                                                             class="btn btn-success margin-bottom-15 bg-green-active"
                                                             name="action_save_add" value="Сохранить и добавить новую">
                        </div>
                    </div>
                </div>
                {{ form.errors }}
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}
<script>
    $('#nav_apartment').attr('class', 'active')
    </script>
<script src="{% static 'admin_panel/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
<script src="{% static 'admin_panel/bower_components/select2/dist/js/i18n/ru.min.js' %}"></script>
    <script>

    $(document).ready(function() {
        {% block ready %}
        clear_options('id_section')
            clear_options('id_floor')
            {% endblock %}
            $('#id_owner').select2({placeholder: "Выберите..."})
            $('#id_house').select2({placeholder: "Выберите..."})
            $('#id_floor').select2({placeholder: "Выберите дом"})
            $('#id_section').select2({placeholder: "Выберите дом"})
            $('#id_tariff').select2({placeholder: "Выберите..."})
          }

        )

    function append_option(target, item) {
        $(`#id_${target}`).append($('<option>').val(item['id']).text(item['name']));
    }
    function clear_options(target) {
            $('#'+`${target} option:not([value=''])`).remove()

          }

        function get_values(house_id=null){
            $.ajax({
                type:'GET',
                url:'{% block ajax_url %}{% url 'apartment_create' %}{% endblock %}',
                data:{
                    house_id: house_id,
                },
                success:function (data) {
                    $('#id_floor').select2({placeholder: "Выберите..."})
                    $('#id_section').select2({placeholder: "Выберите..."})
                    data['floor'].forEach(
                        function (item) {
                            append_option('floor',item)
                        }

                    );
                    data['section'].forEach(
                        function (item) {
                            append_option('section',item)
                        }

                    );
                    }



            })
        }
        $('#id_house').change(function () {
            clear_options('id_section')
            clear_options('id_floor')
            get_values($(this).val())
        })
    </script>
    <script>


            $( "#apartment_form" ).validate( {
				rules: {
					number: {required:true,min:0},
					house: "required",
					area: {min:0},
				},
				messages: {
					number: "Пожалуйста введите номер квартиры.",
					house: "Пожалуйста выберите дом.",
				},
				errorElement: "em",
				errorPlacement: function ( error, element ) {
					error.addClass( "help-block" );
					element.parents( ".form-group" ).addClass( "has-feedback" );
					if ( element.prop( "type" ) === "checkbox" ) {
						error.insertAfter( element.parent( "label" ) );
					} else {
                        if($(element).hasClass('select2-hidden-accessible')){
                            error.insertAfter( $(element).parent('.form-group').find('.select2') );
                        }
                        else error.insertAfter( element );
					}


{% comment %}					if ( !element.next( "span" )[ 0 ] ) {
						$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
					}{% endcomment %}
				},
				success: function ( label, element ) {
{% comment %}
					if ( !$( element ).next( "span" )[ 0 ] ) {
						$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
					}{% endcomment %}
				},
				highlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
					{#$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );#}
				},
				unhighlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
					{#$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );#}
				}
			} );
             $("select").on("select2:close", function (e) {
        $(this).valid();
    });
    </script>
{% endblock %}