{% extends 'layout/admin_panel.html' %}
{% load static %}
{% block title %}Новый тариф{% endblock %}
{% block header_text %}
Тариф
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li><a href="{% url 'tariff_list' %}">Тарифы</a></li>
        <li class="active">Новый тариф</li>
</ul>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-body">

            <form id="tariff_form" method="post">
                {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 col-lg-7">
                    <div class="form-group field-tariff-name {% if form.name.errors %} has-error{% endif %}">
                        <label class="control-label" for="tariff-name">Название тарифа</label>
                        {{ form.name }}
                            {% if form.name.errors %}
<em id="id_name-error" class="error help-block">{{ form.name.errors|join:". " }}</em>
    {% endif %}
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group field-tariff-description">
                        <label class="control-label" for="tariff-description">Описание тарифа</label>
                        {{ form.description }}

                        <div class="help-block"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-lg-7">
                    <div id="form-tariff_service-rows">
                        {{ tariff_service_formset.management_form }}
                        {% for tariff_service in tariff_service_formset %}
                        <div id="form-{{ tariff_service.prefix }}" class="row form-tariff_service">
                            {{ tariff_service.id }}
                            <div class="col-xs-6 col-md-4">
                                <div class="form-group" id="service">
                                    <label for="{{ tariff_service.prefix }}-service_id">Услуга</label>
                                    {{ tariff_service.service }}
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="form-group">
                                    <label for="{{ tariff_service.prefix }}-price_unit">Цена</label>
                                    {{ tariff_service.price }}
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <div class="form-group">
                                    <label for="0-currency-code">Валюта</label>
                                    <input type="text" id="0-currency-code" class="form-control" name="[0]currency_code"
                                           value="грн" disabled=""></div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="form-group">
                                    <label for="{{ tariff_service.prefix }}-unit-name">Ед.
                                        изм.</label>
                                    <div class="input-group">
                                        <select id="{{ tariff_service.prefix }}-unit-name"
                                                class="form-control {{ tariff_service.prefix }}-unit-name"
                                                disabled="">
                                            <option value="0">Выберите...</option>
                                            {% for service in service_list %}
                                                {% if service.unit %}
                                                    <option value="{{ service.pk }}">{{ service.unit }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-btn">
                                            <div hidden>{{ tariff_service.DELETE }}</div>
                    <button type="button" class="btn btn-default form-row-remove-btn"
                            onclick="delete_form('{{ tariff_service.prefix }}')"><i
                            class="fa fa-trash"></i></button>
                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>


                    <button type="button"
                            class="btn btn-default btn-hover-change pull-left margin-bottom-15 form-row-add-tariff-service-btn"
                    id="add_tariff_service">
                        Добавить услугу
                    </button>
                </div>
        </div>
        <div id="empty-tariff_service" class="row form-tariff_service" hidden>
                            {{ tariff_service_formset.empty_form.id }}
                            <div class="col-xs-6 col-md-4">
                                <div class="form-group" id="service">
                                    <label for="{{ tariff_service_formset.empty_form.prefix }}-service_id">Услуга</label>
                                    {{ tariff_service_formset.empty_form.service }}
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="form-group">
                                    <label for="{{ tariff_service_formset.empty_form.prefix }}-price_unit">Цена</label>
                                    {{ tariff_service_formset.empty_form.price }}
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2">
                                <div class="form-group">
                                    <label for="0-currency-code">Валюта</label>
                                    <input type="text" id="0-currency-code" class="form-control" name="[0]currency_code"
                                           value="грн" disabled=""></div>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div class="form-group">
                                    <label for="{{ tariff_service_formset.empty_form.prefix }}-unit-name">Ед.
                                        изм.</label>
                                    <div class="input-group">
                                        <select id="{{ tariff_service_formset.empty_form.prefix }}-unit-name"
                                                class="form-control {{ tariff_service_formset.empty_form.prefix }}-unit-name"
                                                disabled="">
                                            <option value="0">Выберите...</option>
                                            {% for service in service_list %}
                                                {% if service.unit %}
                                                    <option value="{{ service.pk }}">{{ service.unit }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-btn">
                                            <div hidden>{{ tariff_service_formset.empty_form.DELETE }}</div>
                    <button type="button" class="btn btn-default form-row-remove-btn"
                            onclick="delete_form('{{ tariff_service_formset.empty_form.prefix }}')"><i
                            class="fa fa-trash"></i></button>
                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-7 text-right">
                <div class="form-group">
                    <a href="{% url 'tariff_list' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
        </form>
        </div>
        </div>

{% endblock %}
{% block scripts %}
    <script>
        $('#system_settings').attr('class', 'active treeview menu-open')
        $('#nav_tariff').attr('class', 'active')
    </script>
    <script>
    $.validator.addMethod("sRequired", $.validator.methods.required,
"Пожалуйста выберите услугу");
    $.validator.addMethod("pRequired", $.validator.methods.required,
"Пожалуйста введите цену");
    $.validator.addMethod("pMin", $.validator.methods.min,
"Цена должна быть больше 0");

$.validator.addClassRules('service', {
        sRequired: true
    });
jQuery.validator.addClassRules('price', {
        pRequired: true,
        pMin:0,
    messages: {

    }
    });
            $( "#tariff_form" ).validate( {
				rules: {
					name: "required",
					description: "required",
				},
				messages: {
					name: "Пожалуйста введите название тарифа.",
					description: "Пожалуйста введите описание тарифа.",
					username: "Пожалуйста введите правильный email адрес.",
                    password1: {
						minlength: "Ваша пароль должен быть больше 8 символов."
					},
					password2: {
						minlength: "Ваша пароль должен быть больше 8 символов.",
						equalTo: "Пароли не совпадают."
					},
                    phone: {
						required: "Пожалуйста введите ваш номер телефона.",
					},
				},
				errorElement: "em",
				errorPlacement: function ( error, element ) {
					error.addClass( "help-block" );
					element.parents( ".form-group" ).addClass( "has-feedback" );
					if ( element.prop( "type" ) === "checkbox" ) {
						error.insertAfter( element.parent( "label" ) );
					} else {
						error.insertAfter( element );
					}


					if ( !element.next( "span" )[ 0 ] ) {
						$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
					}
				},
				success: function ( label, element ) {

					if ( !$( element ).next( "span" )[ 0 ] ) {
						$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
					}
				},
				highlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
					$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
				},
				unhighlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
					$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
				}
			} );

{% comment %}            $(".price").rules("add", {
  required:true
});{% endcomment %}
        </script>

    <script src="{% static 'admin_panel/js/add_delete_form.js' %}"></script>
<script>
    const totalTariffServiceForms = $('#id_tariff_service-TOTAL_FORMS')
    $('#add_tariff_service').on('click', function (){add_form('tariff_service','empty-tariff_service',
        'form-tariff_service-rows',totalTariffServiceForms);service_change(parseInt(totalTariffServiceForms.val()))})
    function service_change(count) {
            $(`#id_tariff_service-${count-1}-service`).change(function () {
         let value = $(this).val()
        let unit_select = $(this).closest('.row').find('select').eq(1)
        if ($(unit_select).find(`option[value="${value}"]`).length === 0){
            value = 0
        }
        unit_select.val(value).change()
    })
    }


</script>
{% endblock %}