{% extends 'layout/basic.html' %}
{% block title %}Печатная форма документа {% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li><a href="{% url 'receipt_list' %}">Квитанции</a></li>
        <li><a href="{% url 'receipt_view' receipt.pk %}">Квитанция №{{ receipt.number }}</a></li>
        <li class="active">Печатная форма документа</li>
    </ul>
{% endblock %}
{% block header_text %}
    Печатная форма документа
{% endblock %}
{% block content %}


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Список шаблонов</h3>
            <div class="box-tools">
                <a href="{% url 'excel-template-create' %}" class="btn btn-default btn-sm">
                    <span class="hidden-xs">Настройка шаблонов</span><i class="fa fa-file-text visible-xs"
                                                                        aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <form id="w0" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-lg-4">
                        {% for template in excel_template_list %}
                        <div class="form-group">
                            <div class="radio">
                                <label for="template_id-{{ template.pk }}">
                                    <input type="radio" id="template_id-{{ template.pk }}" name="template_id"
                                           value="{{ template.pk }}" {% if template.default %}checked{% endif %}>
                                    {{ template.name }} </label>
                            </div>
                        </div>
                        {% endfor %}
                        <input type="hidden" name="invoice_template_type" value="xls"></div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <div class="form-group">
                            <button name="action_download" type="submit" class="btn btn-success" value="1">Скачать</button>
                            <button name="action_send_email" type="submit" class="btn btn-default" value="2">
                                Отправить на e-mail
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block scripts %}
  <script>
        $('#nav_receipt').attr('class', 'active')
    </script>
{% endblock %}