{% extends 'layout/admin_panel.html' %}
{% load static %}
{% block title %}Квитанції на оплату{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li class="active">Квитанції на оплату</li>
    </ul>
{% endblock %}
{% block header_text %}
    Квитанції на оплату
{% endblock %}
{% block head %}

    <link rel="stylesheet" type="text/css"
          href="{% static 'admin_panel/bower_components/daterangepicker/daterangepicker.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'admin_panel/plugins/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css' %}"/>
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-xs-12 col-lg-9">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>{{ transactions_total_balance|floatformat:'2' }} грн</h3>
                            <p>Стан каси</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <!--<span class="small-box-footer"> </span>-->
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>{{ account_total_balance|floatformat:'2' }} грн</h3>
                            <p>Баланс за рахунками</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <!--<span class="small-box-footer"> </span>-->
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>{{ account_total_debt|floatformat:'2' }} грн</h3>
                            <p>Заборгованість за рахунками</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <!--<span class="small-box-footer"> </span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="btn-group pull-right margin-bottom">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Виберіть дію <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'receipt_create' %}">Створити загальну квитанцію</a></li>
                    <!-- <li><a href="#!">Створити квитанцію на оплату за ЕЕ</a></li>
                                    <li><a href="#!">Створити квитанцію на оплату за ГАЗ</a></li>-->
                    <li><a class="delete-many">Видалити</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <button onclick="clear_filters()" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистити</span><i class="fa fa-eraser visible-xs"
                                                                      aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table id="receipt_table" class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                            <tr>
                                <th style="width: 40px; min-width: 40px">
                                    <input type="checkbox" id="select_all_receipts" name="selection_all">
                                </th>
                                <th style="width: 125px; min-width: 125px">№ квитанції</th>
                                <th style="width: 100px; min-width: 100px">Статус</th>
                                <th style="width: 125px; min-width: 125px">
                                    <a id="date" class="ordering" style="cursor: pointer">Дата</a></th>
                                <th style="width: 135px; min-width: 135px">
                                    <a id="date__month" class="ordering" style="cursor: pointer">Місяць</a>
                                </th>
                                <th>Квартира</th>
                                <th style="min-width: 200px">Власник</th>
                                <th style="width: 120px; min-width: 120px">Проведено</th>
                                <th style="width: 100px; min-width: 100px">Сума (грн)</th>
                                <th style="width: 114px; min-width: 114px"> </th>
                            </tr>
                            <tr id="w0-filters" class="filters">
                                <td> </td>
                                <td><input type="text" class="form-control column_search" id="number"></td>
                                <td><select id="status" class="form-control select2 filter">
                                    <option value=""></option>
                                    {% for status in status_list %}
                                        <option value="{{ status }}">{{ status }}</option>
                                    {% endfor %}
                                </select></td>
                                <td><input type="text" id="date_range" class="form-control date_range"></td>
                                <td><input type="text" id="date_month_input" class="form-control">
                                </td>
                                <td><input id="apartment" type="text" class="form-control column_search"></td>
                                <td><select id="owner" class="form-control select2 filter">
                                    <option value=""></option>
                                    {% for owner in owner_list %}
                                        <option value="{{ owner.pk }}">{{ owner }}</option>
                                    {% endfor %}
                                </select></td>
                                <td><select id="is_complete"
                                            class="form-control select2 filter">
                                    <option value=""></option>
                                    <option value="1">Проведено</option>
                                    <option value="0">Не проведено</option>
                                </select></td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
        $('#nav_receipt').attr('class', 'active')
    </script>

    <script src="{% static 'admin_panel/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/select2/dist/js/i18n/uk.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

    <script src="{% static 'admin_panel/bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/moment/locale/uk.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'admin_panel/bower_components/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'admin_panel/plugins/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.uk.min.js' %}"></script>
    <script>
        let numb = 0
        let sort_data = {}
        let selected_receipts = []
        let table
        let table_head = $('#receipt_table thead')
        let label_colors = {
            'Оплачено': 'label-success',
            'Не оплачено': 'label-danger',
            'Частково оплачено': 'label-warning',
        }

        function numberWithSpaces(nr) {
            return nr.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

        function check_empty(data) {
            if (data) {
                return data
            } else return '(не вказано)'
        }


        function set_options(data, target_id) {
            $('#' + `${target_id} option`).remove()
            $('#' + `${target_id}`).append(`<option></option>`)
            data.forEach(function (item) {
                $('#' + `${target_id}`).append(`<option value="${item['id']}">${item['name']}</option>`)
            })
        }



        function send_POST(e) {
            table = $('#receipt_table').DataTable({
                serverSide: true,
                processing: false,
                ordering: false,
                oLanguage: {
                    sZeroRecords: "Нічого не знайдено."
                },
                columnDefs: [
                    {className: "receipt", "targets": [1, 2, 3, 4, 5, 6, 7,8]},
                    {targets: '_all', defaultContent: ''},
                ],
                "ajax": {
                    "processing": true,
                    "url": "{% url 'receipt_list' %}",
                    "data": function (d) {
                        return Object.assign(d, sort_data);
                    },
                    dataSrc: function (data) {
                        console.log(data)
                        if (data['delete_info']) {
                            let deleted_data = data['delete_info']
                            deleted_data['success_msg'].forEach(function (item) {
                                toastr.success(item)
                            })
                            deleted_data['error_msg'].forEach(function (item) {
                                toastr.success(item)
                            })
                        }

                        $('#select_all_receipts').prop('checked',false)
                        selected_receipts = []
                        return data['receipts']
                    },
                },
                "columns": [
                    {
                        data: 'id',
                        render: function (data) {
                            return `<input type="checkbox" onchange="select_receipt(event)" class="receipt_select" value="${data}">`
                        }
                    },
                    {data: 'number'},
                    {
                        data: 'status',
                        render: function (data) {
                            return `<small class="label ${label_colors[data]}">${data}</small>`
                        }
                    },
                    {
                        data: 'date',
                        render: function (data) {
                            return moment(`${data}`).format('DD.MM.YYYY')
                        }
                    },
                    {
                        data: 'date',
                        render: function (data) {
                            let date = moment(data).format('MMMM YYYY')
                            return date.charAt(0).toUpperCase() + date.slice(1)
                        }
                    },
                    {data: 'apartment_info'},
                    {
                        data: 'personal_account__apartment__owner__first_name',
                        render: function (data, type, row) {
                            if (data) {
                                return `${data} ${row['personal_account__apartment__owner__middle_name']} ${row['personal_account__apartment__owner__last_name']}`
                            } else {
                                return check_empty(data)
                            }

                        }
                    },
                    {
                        data: 'is_complete',
                        render: function (data) {
                            if (data) {
                                return '<small class="label label-success">Проведено</small>'
                            } else {
                                return '<small class="label label-danger">Не проведено</small>'
                            }
                        }
                    },
                    {data: 'total_price',
                    render:function (data) {
                        return numberWithSpaces(data)
                    }},

                    {
                        data: 'id',
                        render: function (data, type, row) {

                            let link_clone = '{% url 'receipt_clone' 12345 %}'.replace(/12345/, data)
                            let link_update = '{% url 'receipt_update' 12345 %}'.replace(/12345/, data)
                            let link_delete = '{% url 'receipt_delete' 12345 %}'.replace(/12345/, data)

                            return `<div class="btn-group pull-right">\
                                    <a class="btn btn-default btn-sm" href="${link_clone}"\
                                    title="Копіювати" data-toggle="tooltip"><i class="fa fa-clone"></i></a>\
                                    <a class="btn btn-default btn-sm" href="${link_update}"\
                                    title="Редагувати" data-toggle="tooltip"><i class="fa fa-pencil"></i></a>\
                                    <a class="btn btn-default btn-sm" href="${link_delete}"\
                                    title="Видалити" data-toggle="tooltip" data-pjax="0" data-method="post">\
                                    <i class="fa fa-trash"></i></a>\
                                    </div>`
                        },
                    },
                ],
                paging: true,
                'pageLength': 10,
                'lengthChange': false,
                initComplete: (settings, json) => {
                    $('.dataTables_paginate').appendTo('.pagination-sm');
                },
                searching: false,
                info: false,
            });
        }

        function set_filters_listener() {
            table_head.on('change', ".filter", function a(e) {
                sort_data[this.id] = $(this).val()
                numb = 0
                table.draw()
            });
            table_head.on('keyup', ".column_search", function a(e) {
                sort_data[this.id] = $(this).val()
                numb = 0
                table.draw()
            });
            table_head.on('click', '.ordering', function() {
                if (this.className === 'ordering asc') {
                    $(this).attr('class', 'ordering desc')
                    sort_data['order_by'] = '-' + this.id
                } else {
                    $(this).attr('class', 'ordering asc')
                    sort_data['order_by'] = this.id
                }
                table_head.find('.ordering').not(this).attr('class', 'ordering')
                numb = 0
                table.draw()
            })

        }
        $('.delete-many').click(function() {
            sort_data['delete_receipts'] = true
            sort_data['selected_receipts'] = selected_receipts
            numb = 0
            table.draw()
            sort_data['selected_receipts'] = ''
            sort_data['delete_receipts'] = false
        })
        let select_all_receipts_bnt = $('#select_all_receipts')
        select_all_receipts_bnt.change(function() {
            $('.receipt_select').prop('checked', $(this).prop('checked')).change()
        })
        function select_receipt(event) {
            let val = event.target.value
            if($(event.target).prop('checked')){
                if($('.receipt_select:checked').length == $('.receipt_select').length){
                    select_all_receipts_bnt.prop('checked',true)
                }
                selected_receipts.push(val)
            }
            else {
                if(select_all_receipts_bnt.prop('checked')){
                    select_all_receipts_bnt.prop('checked',false)
                }
                const index = selected_receipts.indexOf(val);
                if (index > -1) {
                    selected_receipts.splice(index, 1);
                }
            }
        }

        function confirm_delete(link, event) {
            alertify.confirm('Підтвердження видалення', 'Видалити відомості <b>№' +
                +$(event.target).closest("tr ").children().eq(0).text() + '</b> ?',
                function () {
                    window.location.href = link
                },
                function () {
                }).set({labels: {ok: 'Підтвердити', cancel: 'Скасувати'}});
            return false;
        }

                $('#receipt_table').on('click', 'tbody tr .receipt', function () {
                    window.location.href = '{% url 'receipt_view' 12345%}'
                        .replace(/12345/, table.row(this).data().id)
                })


        $(document).ready(function() {
            $('.column_search').val('');
            {% if view.kwargs.apartment %}
                sort_data['apartment'] = {{view.kwargs.apartment}}
                $('#apartment').val({{ view.kwargs.apartment }})
            {% endif %}
            send_POST();
            $('.select2').select2().val('');
            set_filters_listener()

            $(function () {
                let date_range = $('#date_range')
                date_range.daterangepicker({
                    autoUpdateInput: false,
                    locale: {

                        cancelLabel: 'Скасувати',
                        applyLabel: 'Застосувати'
                    },
                    applyButtonClasses: 'btn btn-success',
                    cancelButtonClasses: 'btn btn-default',
                });
                $('#date_month_input').datepicker({
                    format: "mm.yyyy",
                    startView: 1,
                    minViewMode: 1,
                    maxViewMode: 2,
                    language: "uk",
                    autoclose: true
                }).change(function () {
                    let date = this.value.split('.')
                    sort_data['date_month'] = parseInt(date[0])
                    sort_data['date_year'] = parseInt(date[1])
                    console.log(sort_data)
                    numb = 0
                    table.draw()
                })
                date_range.on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + '-' + picker.endDate.format('DD/MM/YYYY'));
                    sort_data['date_range'] = [picker.startDate.format('YYYY-MM-DD'), picker.endDate.format('YYYY-MM-DD')]
                    console.log(sort_data[this.id])
                    numb = 0
                    table.draw()
                });

                date_range.on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                });

            });
        });
    </script>

{% endblock %}
