{% extends 'layout/basic.html' %}
{% block header_text %}
    Роли
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb"><li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i> Главная</a></li>
<li class="active">Роли</li>
</ul>
{% endblock %}
{% block content %}
<div class="box">
    <form id="w0" method="post">
        {% csrf_token %}
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Роль</th>
                        <th class="text-center">Статистика</th>
                        <th class="text-center">Касса</th>
                        <th class="text-center">Квитанции на оплату</th>
                        <th class="text-center">Лицевые счета</th>
                        <th class="text-center">Квартиры</th>
                        <th class="text-center">Владельцы квартир</th>
                        <th class="text-center">Дома</th>
                        <th class="text-center">Сообщения</th>
                        <th class="text-center">Заявки вызова мастера</th>
                        <th class="text-center">Счетчики</th>
                        <th class="text-center">Управление сайтом</th>
                                                <th class="text-center">Услуги</th>
                        <th class="text-center">Тарифы</th>
                        <th class="text-center">Роли</th>
                        <th class="text-center">Пользователи</th>
                        <th class="text-center">Платежные реквизиты</th>
                    </tr>
                </thead>
                <tbody>
                {{ role_formset.management_form }}
{#                {% for role_form in role_formset|slice:':1' %}#}
{#                    {% for hidden in role_form.hidden_fields %}#}
{#                            {{ hidden }}#}
{#                        {% endfor %}#}
                <tr id="director_row">
                            <td>Директор</td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
{#                            <td class="text-center">{{role_form.statistics}}</td>#}
{#                            <td class="text-center">{{role_form.transaction}}</td>#}
{#                            <td class="text-center">{{role_form.receipt}}</td>#}
{#                            <td class="text-center">{{role_form.personal_account}}</td>#}
{#                            <td class="text-center">{{role_form.apartment}}</td>#}
{#                            <td class="text-center">{{role_form.owners}}</td>#}
{#                            <td class="text-center">{{role_form.house}}</td>#}
{#                            <td class="text-center">{{role_form.message}}</td>#}
{#                            <td class="text-center">{{role_form.application}}</td>#}
{#                            <td class="text-center">{{role_form.counter}}</td>#}
{#                            <td class="text-center">{{role_form.website}}</td>#}
{#                                                <td class="text-center">{{role_form.services}}</td>#}
{#                            <td class="text-center">{{role_form.tariff}}</td>#}
{#                            <td class="text-center">{{role_form.roles}}</td>#}
{#                            <td class="text-center">{{role_form.users}}</td>#}
{#                            <td class="text-center">{{role_form.payment_details}}</td>#}
                        </tr>
{#                {% endfor %}#}
                {% for role_form in role_formset %}
                        {% for hidden in role_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                                            <tr>

                            <td>{{role_form.instance.role}}</td>
                            <td class="text-center">{{role_form.statistics}}</td>
                            <td class="text-center">{{role_form.transaction}}</td>
                            <td class="text-center">{{role_form.receipt}}</td>
                            <td class="text-center">{{role_form.personal_account}}</td>
                            <td class="text-center">{{role_form.apartment}}</td>
                            <td class="text-center">{{role_form.owners}}</td>
                            <td class="text-center">{{role_form.house}}</td>
                            <td class="text-center">{{role_form.message}}</td>
                            <td class="text-center">{{role_form.application}}</td>
                            <td class="text-center">{{role_form.counter}}</td>
                            <td class="text-center">{{role_form.website}}</td>
                                                <td class="text-center">{{role_form.services}}</td>
                            <td class="text-center">{{role_form.tariff}}</td>
                            <td class="text-center">{{role_form.roles}}</td>
                            <td class="text-center">{{role_form.users}}</td>
                            <td class="text-center">{{role_form.payment_details}}</td>
                        </tr>
                {% endfor %}
                                    </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="form-group margin-top-15 margin-right-15">
                    <a href="{% url 'roles' %}" class="btn btn-default">Отменить</a>
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </div>
            </div>
        </div>
    </form></div>
{% endblock %}
{% block scripts %}
    <script>
     $(document).ready(function () {
{% comment %}    $('#director_row td').each(function () {
        $(this).attr('disabled','')
    }){% endcomment %}
         $('#system_settings').attr('class', 'active treeview menu-open')
        $('#nav_roles').attr('class', 'active')
         })
    </script>
{% endblock %}