{% extends 'layout/admin_panel.html' %}
{% block title %}Ролі{% endblock %}
{% block header_text %}
    Ролі
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb"><li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
<li class="active">Ролі</li>
</ul>
{% endblock %}
{% block content %}
<div class="box">
    <form id="w0" method="post">
        {% csrf_token %}
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Роль</th>
                        <th class="text-center">Статистика</th>
                        <th class="text-center">Каса</th>
                        <th class="text-center">Квитанції на оплату</th>
                        <th class="text-center">Облікові рахунки</th>
                        <th class="text-center">Квартири</th>
                        <th class="text-center">Власники квартир</th>
                        <th class="text-center">Будинки</th>
                        <th class="text-center">Повідомлення</th>
                        <th class="text-center">Заявки виклику майстра</th>
                        <th class="text-center">Лічильники</th>
                        <th class="text-center">Керування сайтом</th>
                                                <th class="text-center">Послуги</th>
                        <th class="text-center">Тарифи</th>
                        <th class="text-center">Ролі</th>
                        <th class="text-center">Користувачі</th>
                        <th class="text-center">Платіжні реквізити</th>
                    </tr>
                </thead>
                <tbody>
                {{ role_formset.management_form }}
{# {% for role_form in role_formset|slice:':1' %}#}
{# {% for hidden in role_form.hidden_fields %}#}
{# {{ hidden }}#}
{# {% endfor %}#}
                <tr id="director_row">
                            <td>Директор</td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
                    <td class="text-center"> <input type="checkbox" checked="" disabled></td>
{# <td class="text-center">{{role_form.statistics}}</td>#}
{# <td class="text-center">{{role_form.transaction}}</td>#}
{# <td class="text-center">{{role_form.receipt}}</td>#}
{# <td class="text-center">{{role_form.personal_account}}</td>#}
{# <td class="text-center">{{role_form.apartment}}</td>#}
{# <td class="text-center">{{role_form.owners}}</td>#}
{# <td class="text-center">{{role_form.house}}</td>#}
{# <td class="text-center">{{role_form.message}}</td>#}
{# <td class="text-center">{{role_form.application}}</td>#}
{# <td class="text-center">{{role_form.counter}}</td>#}
{# <td class="text-center">{{role_form.website}}</td>#}
{# <td class="text-center">{{role_form.services}}</td>#}
{# <td class="text-center">{{role_form.tariff}}</td>#}
{# <td class="text-center">{{role_form.roles}}</td>#}
{# <td class="text-center">{{role_form.users}}</td>#}
{# <td class="text-center">{{role_form.payment_details}}</td>#}
                        </tr>
{# {% endfor %}#}
                {% for role_form in role_formset %}
                        {% for hidden in role_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                                            <tr>

                            <td>{{role_form.instance.role}}</td>
                            <td class="text-center">{{role_form.statistics}}</td>
                            <td class="text-center">{{role_form.transactions}}</td>
                            <td class="text-center">{{role_form.receipts}}</td>
                            <td class="text-center">{{role_form.personal_accounts}}</td>
                            <td class="text-center">{{role_form.apartments}}</td>
                            <td class="text-center">{{role_form.owners}}</td>
                            <td class="text-center">{{role_form.houses}}</td>
                            <td class="text-center">{{role_form.messages}}</td>
                            <td class="text-center">{{role_form.applications}}</td>
                            <td class="text-center">{{role_form.meters}}</td>
                            <td class="text-center">{{role_form.website}}</td>
                                                <td class="text-center">{{role_form.services}}</td>
                            <td class="text-center">{{role_form.tariffs}}</td>
                            <td class="text-center">{{role_form.roles}}</td>
                            <td class="text-center">{{role_form.users}}</td>
                            <td class="text-center">{{role_form.payment_details}}</td>
                        </tr>
                {% endfor %}
                                    </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right">
                <div class="form-group margin-top-15 margin-right-15">
                    <a href="{% url 'roles' %}" class="btn btn-default">Скасувати</a>
                    <button type="submit" class="btn btn-success">Зберегти</button>
                </div>
            </div>
        </div>
    </form></div>
{% endblock %}
{% block scripts %}
    <script>
     $(document).ready(function() {
{% comment %} $('#director_row td').each(function() {
        $(this).attr('disabled','')
    }) {% endcomment %}
         $('#system_settings').attr('class', 'active treeview menu-open')
        $('#nav_roles').attr('class', 'active')
         })
    </script>
{% endblock %}
