{% extends 'layout/basic.html' %}
{% block header_text %}
    Пользователь
{% endblock %}
{% block breadcrumb%}
<ul class="breadcrumb"><li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i> Главная</a></li>
<li><a href="{% url 'user_list' %}">Пользователи</a></li>
<li><a href="{% url 'view_user' form.instance.id %}">Пользователь</a></li>
<li class="active">Редактирование</li>
</ul>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-body">

            <form id="user_update" method="post">
                {% csrf_token %}
                <input type="hidden" name="_csrf-backend"
                       value="1WxOv4sjUOGjzHNiCoPsO-c2hOd-xai6OpRsrI_WGg2KHCv2wRsT18-tFARL1bpa02zhjUur3_B-3yfY3753WA==">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group field-useradminform-firstname">
                            <label class="control-label" for="useradminform-firstname">Имя</label>
                            {{ form.first_name }}

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-useradminform-lastname">
                            <label class="control-label" for="useradminform-lastname">Фамилия</label>
                            {{ form.last_name }}

                            <div class="help-block"></div>
                        </div>
                            {% if form.phone.errors %}
            <div class="form-group field-useradminform-phone has-error">
        {% else %}
            <div class="form-group field-useradminform-phone">
    {% endif %}

<label class="control-label" for="useradminform-phone">Телефон</label>
{{ form.phone }}
        {% if form.phone.errors %}
<em id="id_phone-error" class="error help-block">{{ form.phone.errors|join:". " }}</em>
{% endif %}
                            <div class="help-block"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                              {% if form.username.errors %}
        <div class="form-group field-useradminform-username required has-error">
            {% else %}
            <div class="form-group field-useradminform-username required">
            {% endif %}
<label class="control-label" for="useradminform-username">Email (логин)</label>
{{ form.username }}
    {% if form.username.errors %}
<em id="id_username-error" class="error help-block">{{ form.username.errors|join:". " }}</em>
    {% endif %}
                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-useradminform-password">
                            <label class="control-label" for="useradminform-password">Пароль</label>

                            <div class="input-group">{{ form.password1 }}

                                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="generatePassword('.pass-value')">
                            Сгенерировать
                        </button>
                        <button type="button" class="btn btn-primary" id="showPass">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </span>
                            </div>

                            <div class="help-block"></div>
                        </div>
                        <div class="form-group field-useradminform-password2">
                            <label class="control-label" for="useradminform-password2">Повторить пароль</label>
                            {{ form.password2 }}

                            <div class="help-block"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <a href="/admin/user-admin/index" class="btn btn-default">Отменить</a>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </div>

            </form>
            <script>
                function generatePassword(targetSelector) {
                    var pass = Math.random().toString(36).substring(4);
                    $('input' + targetSelector).val(pass);
                    $('span' + targetSelector).text(pass);
                }
            </script>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#system_settings').attr('class', 'active treeview menu-open')
        $('#nav_users').attr('class', 'active')
    </script>
    <script>
        {% if form.phone.errors  %}
    toastr.error('{{ form.phone.errors }}')
        {% endif %}
        {% if  form.username.errors%}
            toastr.error('{{ form.username.errors }}')
        {% endif %}
    $.validator.addMethod("validateEmail", function(value, element) {
        let regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(value);
    });
            $( "#user_update" ).validate( {
				rules: {
					first_name: "required",
					last_name: "required",
					username: {
                        validateEmail:true,
                        required: true,
                    },
                    password1: {
						minlength: 8
					},
					password2: {
                        minlength: 8,
                        equalTo: "#id_password1"
                    },
                    phone: {required: true,
                        minlength:13,
                        maxlength:13
                    }
				},
				messages: {
					first_name: "Пожалуйста введите ваше имя.",
					last_name: "Пожалуйста введите вашу фамилию.",
					username: "Пожалуйста введите правильный email адрес.",
                    password1: {
						minlength: "Ваша пароль должен быть больше 8 символов."
					},
					password2: {
						minlength: "Ваша пароль должен быть больше 8 символов.",
						equalTo: "Пароли не совпадают."
					},
                    phone: {
						required: "Пожалуйста введите ваш номер телефона.",
					},
				},
				errorElement: "em",
				errorPlacement: function ( error, element ) {
					// Add the `help-block` class to the error element
					error.addClass( "help-block" );

					// Add `has-feedback` class to the parent div.form-group
					// in order to add icons to inputs
					element.parents( ".form-group" ).addClass( "has-feedback" );

					if ( element.prop( "type" ) === "checkbox" ) {
						error.insertAfter( element.parent( "label" ) );
					} else {
						error.insertAfter( element );
					}

					// Add the span element, if doesn't exists, and apply the icon classes to it.
					if ( !element.next( "span" )[ 0 ] ) {
						$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
					}
				},
				success: function ( label, element ) {
					// Add the span element, if doesn't exists, and apply the icon classes to it.
					if ( !$( element ).next( "span" )[ 0 ] ) {
						$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
					}
				},
				highlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".form-group" ).addClass( "has-error" ).removeClass( "has-success" );
					$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
				},
				unhighlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".form-group" ).addClass( "has-success" ).removeClass( "has-error" );
					$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
				}
			} );
        </script>
{% endblock %}