{% extends 'layout/admin_panel.html' %}
{% block title %}Пользователь{% endblock %}
{% block header_text %}
    Пользователь
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb"><li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i> Главная</a></li>
<li><a href="{% url 'user_list' %}">Пользователи</a></li>
<li class="active">Пользователь</li>
</ul>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <a href="{% url 'update_user' obj_user.pk %}" class="btn btn-primary btn-sm">
                <span class="hidden-xs">Редактировать пользователя</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
            </a>
        </div>
    </div>
        <div class="box-body">
        <div class="row">
            <div class="col-xs-12 col-lg-4">
                <table class="table table-bordered table-striped table-view">
                    <tbody>
                        <tr>
                            <td>Пользователь</td>
                            <td>{{ obj_user.first_name}} {{ obj_user.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Роль</td>
                            <td>{{ obj_user.role }}</td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td>{{ obj_user.phone }}</td>
                        </tr>
                        <tr>
                            <td>Email(логин)</td>
                            <td>{{ obj_user.username }}</td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td><small class="label {{ obj_user.get_status_label_color }}"
                                       id="status">{{ obj_user.status }}</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        $('#system_settings').attr('class', 'active treeview menu-open')
        $('#nav_users').attr('class', 'active')
    </script>
{% endblock %}