{% extends 'layout/admin_panel.html' %}
{% block title %}Статті парафій/витрат {% endblock %}
{% load static %}
{% block header_text %}
Статті приходів/витрат
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li class="active">Статті парафій/витрат</li>
</ul>
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'purpose_create' %}">Додати статтю</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table id="purpose_table" class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                            <tr>
                                <th>Назва</th>
                                <th>Прихід/витрата</th>
                                <th style="width: 80px; min-width: 80px"> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purpose in purpose_list %}


                                <tr data-href="{% url 'purpose_update' purpose.pk %}">
                                    <td>{{purpose.name}}</td>
                                    <td><span
                                            class="text text-{% if purpose.transaction_type == purpose.TransactionType.INCOME %}green{% else %}red{% endif %}">
        {{purpose.transaction_type}}</span></td>
                                    <td>
                                        <div class="btn-group pull-right"><a class="btn btn-default btn-sm"
                                                                             href="{% url 'purpose_update' purpose.pk %}"
                                                                             title="Редагувати"
                                                                             data-toggle="tooltip">
                                            <i class="fa fa-pencil"></i></a> <a class="btn btn-default btn-sm"
                                                                                title="Видалити" data-toggle="tooltip"
                                                                                data-pjax="0" data-method="post"
                                                                                onmousedown="return confirm_delete('{% url 'purpose_delete' purpose.pk %}',event);"><i
                                                class="fa fa-trash"></i></a></div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'admin_panel/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

        <script>
        $('#system_settings').attr('class', 'active treeview menu-open')
        $('#nav_purpose').attr('class', 'active')
    </script>

    <script>
        $('#purpose_table').DataTable({
            rowReorder: true,
            columnDefs: [
                {orderable: false, className: 'reorder', targets: 2},
                {orderable: true, targets: '_all'}
            ],
            paging: true,
            'lengthChange': false,
            {#"pagingType": "full_numbers",#}
            {#"pagingType": "scrolling",#}
            {#'sPaginationType': 'ellipses',#}
            {#scrollX: true,#}
            searching: false,

            info: false,
        })
                function confirm_delete (link, event) {
            alertify.confirm('Підтвердження видалення', 'Видалити статтю <b>'
                + $(event.target).closest("tr").children().eq(0).text() + '</b> ?',
                function () {
                window.location.href = link
                },
                function () {
                }).set({labels: {ok: 'Підтвердити', cancel: 'Скасувати'}});
                return false;
        }
    </script>
{% endblock %}