{% extends 'layout/basic.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin_panel/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}"/>
{#    <link rel="stylesheet" type="text/css"#}
{#          href="{% static 'admin_panel/bower_components/datatables.net/jquery.dataTables.css' %}"/>#}
{% endblock %}
{% block header_text %}
Статьи приходов/расходов
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li class="active">Статьи приходов/расходов</li>
</ul>
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'purpose_create' %}">Добавить статью</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table id="purpose_table" class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Приход/расход</th>
                                <th style="width: 80px; min-width: 80px">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purpose in purpose_list %}


                                <tr data-href="{% url 'purpose_update' purpose.pk %}">
                                    <td>{{ purpose.name }}</td>
                                    <td><span
                                            class="text text-{% if purpose.transaction_type == purpose.TransactionType.INCOME %}green{% else %}red{% endif %}">
        {{ purpose.transaction_type }}</span></td>
                                    <td>
                                        <div class="btn-group pull-right"><a class="btn btn-default btn-sm"
                                                                             href="{% url 'purpose_update' purpose.pk %}"
                                                                             title="Редактировать"
                                                                             data-toggle="tooltip">
                                            <i class="fa fa-pencil"></i></a> <a class="btn btn-default btn-sm"
                                                                                title="Удалить" data-toggle="tooltip"
                                                                                data-pjax="0" data-method="post"
                                                                                onmousedown="return confirm_delete('{% url 'purpose_delete' purpose.pk %}',event);"><i
                                                class="fa fa-trash"></i></a></div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="{% static 'admin_panel/bower_components/datatables.net/jquery.dataTables.min.js' %}">
    </script>
        <script>
        $('#system_settings').attr('class', 'active treeview menu-open')
        $('#nav_purpose').attr('class', 'active')
    </script>

    <script>
        $('#purpose_table').DataTable({
            rowReorder: true,
            columnDefs: [
                {orderable: false, className: 'reorder', targets: 2},
                {orderable: true, targets: '_all'}
            ],
            paging: false,
            {#"pagingType": "full_numbers",#}
            {#"pagingType": "scrolling",#}
            {#'sPaginationType': 'ellipses',#}
            {#scrollX: true,#}
            searching: false,

            info: false,
        })
                function confirm_delete (link,event) {
            alertify.confirm('Подтверждение удаления', 'Удалить статью <b>'
                + $(event.target).closest( "tr " ).children().eq(0).text() + '</b> ?',
                function () {
                window.location.href = link
                },
                function () {
                }).set({labels: {ok: 'Подтвердить', cancel: 'Отмена'}});
                return false;
        }
    </script>
{% endblock %}