{% extends 'layout/admin_panel.html' %}
{% block title %} Показ лічильника {% endblock %}
{% block breadcrumb %}
        <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li><a href="{% url 'meter-list' %}">Лічильники</a></li>
        <li><a href="{% url 'meter-view-list-serv' meter.apartment_id meter.service_id %}">Покази лічильників, кв.{{ meter.apartment.number}}</a></li>
        <li class="active">Показ лічильника №{{ meter.number }}</li>
</ul>
{% endblock %}
{% block header_text %}
    Показ лічильника
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            №
                        </div>
                        <div class="form-control pull-right">{{meter.number}}</div>
                    </div>
                </div>
                <span class="label-mid">від</span>
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                        <div class="form-control pull-right">{{ meter.date|date:'d.m.Y'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools">
                <a href="{% url 'meter-update' meter.pk %}" class="btn btn-primary btn-sm">
                    <span class="hidden-xs">Редагувати показання</span><i class="fa fa-pencil visible-xs"
                                                                             aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-lg-4">
                    <table class="table table-bordered table-striped table-view">
                        <tbody>
                        <tr>
                            <td>Лічильник</td>
                            <td>{{meter.service.name}}</td>
                        </tr>
                        <tr>
                            <td>Будинок</td>
                            <td>
                                <a href="{% url 'house_view' meter.apartment.house_id %}">
                                    {{meter.apartment.house}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Секція</td>
                            <td>{{meter.apartment.section}}</td>
                        </tr>
                        <tr>
                            <td>Квартира</td>
                            <td>
                                <a href="{% url 'apartment_view' meter.apartment_id %}">
                                    {{meter.apartment}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Користувач</td>
                            <td>
                                <a href="{% url 'owner_view' meter.apartment.owner_id %}">
                                    {{meter.apartment.owner}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Поточні показання</td>
                            <td>{{meter.value}}</td>
                        </tr>
                        <tr>
                            <td>Од. вим.</td>
                            <td>{{meter.service.unit}}</td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td><small class="label label-{% if meter.status == 'Нульове'%}primary
                            {% elif meter.status == 'Нове' %}warning{% else %}success{% endif %}">{{ meter.status}}</small></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
            <script>
        $('#nav_meter').attr('class', 'active')
    </script>
{% endblock %}
