{% extends 'layout/basic.html' %}
{% block title %}Показание счетчикa{% endblock %}
{% block breadcrumb %}
        <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li><a href="{% url 'meter_list' %}">Счетчики</a></li>
        <li><a href="{% url 'meter_view_list_serv' meter.apartment_id meter.service_id %}">Показания счетчиков, кв.{{ meter.apartment.number}}</a></li>
        <li class="active">Показание счетчикa №{{ meter.number }}</li>
</ul>
{% endblock %}
{% block header_text %}
    Показание счетчикa
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6">
            <div class="page-header-spec">
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            №
                        </div>
                        <div class="form-control pull-right">{{ meter.number }}</div>
                    </div>
                </div>
                <span class="label-mid">от</span>
                <div class="form-group">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </div>
                        <div class="form-control pull-right">{{ meter.date|date:'d.m.Y'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools">
                <a href="{% url 'meter_update' meter.pk %}" class="btn btn-primary btn-sm">
                    <span class="hidden-xs">Редактировать показание</span><i class="fa fa-pencil visible-xs"
                                                                             aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-lg-4">
                    <table class="table table-bordered table-striped table-view">
                        <tbody>
                        <tr>
                            <td>Счетчик</td>
                            <td>{{ meter.service.name }}</td>
                        </tr>
                        <tr>
                            <td>Дом</td>
                            <td>
                                <a href="{% url 'house_view' meter.apartment.house_id %}">
                                    {{ meter.apartment.house}} </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Секция</td>
                            <td>{{ meter.apartment.section}}</td>
                        </tr>
                        <tr>
                            <td>Квартира</td>
                            <td>
                                <a href="{% url 'apartment_view' meter.apartment_id %}">
                                    {{ meter.apartment}} </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Пользователь</td>
                            <td>
                                <a href="{% url 'owner_view' meter.apartment.owner_id %}">
                                    {{ meter.apartment.owner}} </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Текущие показания</td>
                            <td>{{ meter.value }}</td>
                        </tr>
                        <tr>
                            <td>Ед. изм.</td>
                            <td>{{ meter.service.unit}}</td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td><small class="label label-{% if meter.status == 'Нулевое'%}primary
                            {% elif meter.status == 'Новое' %}warning{% else %}success{% endif %}">{{ meter.status}}</small></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
            <script>
        $('#nav_meter').attr('class', 'active')
    </script>
{% endblock %}