{% extends 'admin_meter/meter_create.html' %}
{% block title %}Показание счетчикa{% endblock %}
{% block breadcrumb %}
        <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li><a href="{% url 'meter_list' %}">Счетчики</a></li>
        <li><a href="{% url 'meter_view_list_serv' meter.apartment_id meter.service_id %}">Показания счетчиков, кв.{{ meter.apartment.number}}</a></li>
        <li><a href="{% url 'meter_view' meter.pk %}">Показание счетчикa №{{ meter.number }}</a></li>
        <li class="active">Редактирование</li>
</ul>
{% endblock %}
{% block header_text %}
    Показание счетчикa
{% endblock %}
{% block clone %}
    let apartment_id = {{meter.apartment_id}}
    let service_id = {{meter.service_id}}
    let section_id = {{meter.apartment.section_id}}
    select_options['house_id'] = {{meter.apartment.house_id}}
    get_values(values=[apartment_id,section_id])
{% endblock %}
{% block ajax_url %}'{% url 'meter_update' meter.pk %}'{% endblock %}