{% extends 'layout/basic.html' %}
{% load static %}
{% block title %}Показания счетчиков, кв.{{ meter_list.first.apartment }}{% endblock %}
{% block breadcrumb %}
        <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li><a href="{% url 'meter_list' %}">Счетчики</a></li>
        <li class="active">Показания счетчиков, кв.{{ meter_list.first.apartment }}</li>
</ul>
{% endblock %}
{% block header_text %}
    Показания счетчиков, кв.{{ meter_list.first.apartment }}
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin_panel/bower_components/datatables.net-bs/css/dataTables.jqueryui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'admin_panel/bower_components/daterangepicker/daterangepicker.css' %}" />
{% endblock %}
{% block content %}


    <div class="row">
        <!--<div class="col-xs-12 col-sm-6">-->
        <!--<h2 class="page-header">Квартиры</h2>-->
        <!--</div>-->
        <div class="col-xs-12">

            <div class="pull-right margin-bottom">
                <button id="add_meter_reading" class="btn btn-success" onclick="add_meter_reading()">Добавить
                    показание</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <button onclick="clear_filters()" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table id="meter_view_table" class="table table-bordered table-hover table-striped linkedRow">
                            <thead>
                            <tr>
                                <th style="width: 125px; min-width: 125px">№</th>
                                <th>Статус</th>
                                <th style="width: 125px; min-width: 125px"><a
                                        id="date" class="ordering desc" style="cursor: pointer">Дата</a></th>
                                <th style="width: 125px; min-width: 125px"><a id="date__month" class="ordering" style="cursor: pointer"
                                        >Месяц</a></th>
                                <th style="min-width: 200px">Дом</th>
                                <th style="min-width: 160px">Секция</th>
                                <th style="width: 110px; min-width: 110px">№ квартиры</th>
                                <th>Счетчик</th>
                                <th style="width: 90px; min-width: 90px">Показания</th>
                                <th style="width: 90px; min-width: 90px">Ед. изм.</th>
                                <th style="width: 80px; min-width: 80px">&nbsp;</th>
                            </tr>
                            <tr id="w0-filters" class="filters">
                                <td><input id="number" type="text" class="form-control column_search" ></td>
                                <td><select id="status" class="form-control select2 filter" style="width: 100%;">
                                    <option value=""></option>
                                    <option value="Новое">Новое</option>
                                    <option value="Учтено">Учтено</option>
                                    <option value="Учтено и оплачено">Учтено и оплачено</option>
                                    <option value="Нулевое">Нулевое</option>
                                </select></td>
                                <td><input type="text" id="date_range" class="form-control date_range"></td>
                                <td>&nbsp;</td>
                                <td><select id="house" class="form-control select2_house"
                                style="width: 100%;">
                                    <option value=""></option>
                                    {% for house in house_list %}
                                            <option value="{{ house.pk }}">{{ house}}</option>
                                    {% endfor %}
                                </select></td>
                                <td><select id="section" class="form-control select2_section filter" style="width: 100%;">
                                    <option></option>
                                </select></td>
                                <td><input id="apartment" type="text" class="form-control column_search"></td>
                                <td><select id="service" class="form-control select2 filter" style="width: 100px;">
                                    <option></option>
                                    {% for service in service_list %}
                                        <option value="{{ service.pk }}">{{ service}}</option>
                                {% endfor %}
                                </select></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $('#nav_meter').attr('class', 'active')
    </script>
    <script src="{% static 'admin_panel/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/select2/dist/js/i18n/ru.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'admin_panel/bower_components/datatables.net/jquery.dataTables.min.js' %}">
    </script>
    <script src="{% static 'admin_panel/bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/moment/locale/ru.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin_panel/bower_components/daterangepicker/daterangepicker.js' %}"></script>

       <script>

        let numb = 0
        let sort_data = {}
        let table
        let table_head = $('#meter_view_table thead')
        let filters_array
        let label_colors = {
            'Учтено': 'label-success',
            'Учтено и оплачено': 'label-success',
            'Новое': 'label-warning',
            'Нулевое': 'label-primary',
        }

        function check_empty(data) {
            if (data) {return data}
            else return '(не задано)'
        }
        function set_options(data, target_id) {
            $('#'+`${target_id} option`).remove()
            $('#'+`${target_id}`).append(`<option></option>`)
            data.forEach(function (item) {
                                $('#'+`${target_id}`).append(`<option value="${item['id']}">${item['name']}</option>`)
                            })
        }
        function clear_filters() {
            $('.column_search').val('');
            $('#date_range').val('');
            table_head.unbind();
            $('.select2_section option').remove()
            $('.select2_section').append('<option></option>')
            filters_array.forEach(function(item) {
              item.val('').change()
            })
            $('.ordering').attr('class', 'ordering');
            $('#date').attr('class', 'ordering desc');
            set_filters_listener()
            let keys = Object.keys(sort_data)
            keys.forEach(function (item) {
                sort_data[item] = ''
            })
            sort_data['service_sort'] = 'yes'
            numb = 0
            table.draw()

        }

        function send_POST(e) {
            table = $('#meter_view_table').DataTable({
                serverSide: true,
                processing: false,
                ordering: false,
                oLanguage: {
                    sZeroRecords: "Ничего не найдено."
                },
                columnDefs: [
                    {className: "meter", "targets": [0, 1, 2,3,4,5,6,7,8,9]},
                    {targets: '_all', defaultContent: ''},
                    {
                targets: [8,9],
                createdCell: function (td, cellData, rowData, row, col) {
                    $(td).css('background-color', '#DFD5')
                }},
                ],
                
                "ajax": {
                    "processing": true,
                    "url": "{% url 'meter_view_list' apartment_id=view.kwargs.apartment_id service_id=view.kwargs.service_id %}",
                    "data": function (d) {
                        return sort_data;
                    },
                    dataSrc: function (data) {
                        if(data['sections']) {
                            $('.select2_section').select2({placeholder: ""})
                            set_options(data['sections'],'section')
                        }
                        return data['meter']
                    },
                },
                "columns": [
                    {data: 'number'},
                    {data: 'status',
                    render:function (data) {
                        return `<small class="label ${label_colors[data]}" id="status">${data}</small>`
                    }},
                    {data: 'date',
                    render:function (data) {
                        return moment(data).format('L')
                    }},
                    {data: 'date',
                    render:function (data) {
                        let date = moment(data).format('MMMM YYYY')
                        return date.charAt(0).toUpperCase() + date.slice(1)
                    }},
                    {data: 'apartment__house__name'},
                    {data: 'apartment__section__name'},
                    {data: 'apartment__number'},
                    {data: 'service__name'},
                    {data: 'value'},
                    {data: 'service__unit__name',
                        render: function (data) {
                         return check_empty(data)
                     }},
                    {
                        data: 'id',
                        render: function (data, type,row) {
                            const link_update = '{% url 'meter_update' 12345 %}'.replace(/12345/, data)
                            let link_delete = '{% url 'meter_delete' 12345 %}'.replace(/12345/, data)
                            {#let link_view = '{% url 'meter_view_list' 12345 54321%}'.replace(/12345/, row.apartment).replace(/54321/,row.service)#}
                            return `<div class="btn-group pull-right">\
            <a class="btn btn-default btn-sm" href="${link_update}"\
               title="Редактировать" data-toggle="tooltip">\
                <i class="fa fa-pencil"></i>\
            </a>\
            <a class="btn btn-default btn-sm"\
               title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post"\
                onmousedown="return confirm_delete('${link_delete}',event);">\
                <i class="fa fa-trash"></i>\
            </a>\
        </div>`
                        },
                                            },
                ],
                paging: false,
                searching: false,
                info: false,
            });
        }
        function set_filters_listener() {
            table_head.on('change', ".filter", function a(e) {
            sort_data[this.id] = $(this).val()
            numb = 0
            table.draw()
        });
{% comment %}        table_head.on('change', ".select2_section", function a(e) {
            sort_data[this.id] = $(this).val()
            numb = 0
            table.draw()
        });{% endcomment %}
        table_head.on('change', ".select2_house", function a(e) {
            sort_data['section'] = ''
            sort_data[this.id] = $(this).val()
            if (sort_data[this.id]){
                sort_data['house_select'] = true
            }
            numb = 0
            table.draw()
            sort_data['house_select'] = ''
        });
        table_head.on('keyup', ".column_search", function a(e) {
            sort_data[this.id] = $(this).val()
            numb = 0
            table.draw()
        });
                table_head.on('click', '.ordering', function () {
            if (this.className === 'ordering asc') {
                $(this).attr('class', 'ordering desc')
                sort_data['order_by'] = '-' + this.id
            } else {
                $(this).attr('class', 'ordering asc')
                sort_data['order_by'] = this.id
            }
            table_head.find('.ordering').not(this).attr('class', 'ordering')
            numb = 0
            table.draw()
        })
                  }




        function confirm_delete(link, event) {
            let target = $(event.target).closest("tr ").children()
            alertify.confirm('Подтверждение удаления', 'Удалить показание <b>'
                + `№${target.eq(0).text()}(${target.eq(7).text()}) дом ${target.eq(4).text()}, кв. №${target.eq(6).text()} от ${target.eq(2).text()}` + '</b> ?',
                function () {
                    window.location.href = link
                },
                function () {
                }).set({labels: {ok: 'Подтвердить', cancel: 'Отмена'}});
            return false;
        }

        $('#meter_view_table').on('click', 'tbody tr .meter', function () {
            window.location.href = '{% url 'meter_view' 12345 %}'.replace(/12345/, table.row(this).data().id)
        })
        function add_meter_reading() {
            let link = ''
            if (sort_data['service']){
                link = '{% url 'meter_new_value_serv' view.kwargs.apartment_id view.kwargs.service_id %}'
            }
            else {
                link = '{% url 'meter_new_value' view.kwargs.apartment_id %}'
            }
            window.location.href = link
        }



        $(document).ready(function () {

            send_POST();
            $('.column_search').val('');
            let $select2 = $('.select2').select2({placeholder: ""}).val('');
            let $select2_section = $('.select2_section').select2({placeholder: "Выберите дом"}).val('');
            let $house = $('#house').select2({placeholder: ""});
            $('#service').val({{ view.kwargs.service_id }}).change()
            filters_array = [$select2,$select2_section,$house]
            sort_data['service_sort'] = 'yes'
            sort_data['service'] = {{ view.kwargs.service_id }};
            set_filters_listener()
            $(function () {
                let input = $('#date_range')
                input.daterangepicker({
                    autoUpdateInput: false,
                    locale: {

                        cancelLabel: 'Отменить',
                        applyLabel: 'Применить'
                    },
                    applyButtonClasses:'btn btn-success',
                    cancelButtonClasses:'btn btn-default',
                });
                input.on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
                    sort_data['date_range'] = [picker.startDate.format('YYYY-MM-DD'), picker.endDate.format('YYYY-MM-DD')]
                    {#console.log(sort_data[this.id])#}
                    {#sort_data[this.id] = $(this).val()#}
                    console.log(sort_data[this.id])
                    numb = 0
                    table.draw()
                });

                input.on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                });

            });
            {#$('#section__name').select2();#}
            {#$('#floor__name').select2();#}
            {#$('#owner__name').select2();#}
        });
    </script>

{% endblock %}
