{% extends 'admin_meter/meter_create.html' %}
{% block title %} Показ лічильника {% endblock %}
{% block breadcrumb %}
        <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li><a href="{% url 'meter-list' %}">Лічильники</a></li>
        <li><a href="{% url 'meter-view-list-serv' meter.apartment_id meter.service_id %}">Покази лічильників, кв.{{ meter.apartment.number}}</a></li>
        <li><a href="{% url 'meter-view' meter.pk %}">Показ лічильника №{{ meter.number }}</a></li>
        <li class="active">Редагування</li>
</ul>
{% endblock %}
{% block header_text %}
    Показ лічильника
{% endblock %}
{% block clone %}
    let apartment_id = {{meter.apartment_id}}
    let service_id = {{meter.service_id}}
    let section_id = {{meter.apartment.section_id}}
    select_options['house_id'] = {{meter.apartment.house_id}}
    get_values(values=[apartment_id,section_id])
{% endblock %}
{% block ajax_url %}'{% url 'meter-update' meter.pk %}'{% endblock %}