{% extends 'layout/admin_panel.html' %}
{% load static %}
{% block title %}Счетчики{% endblock %}
{% block breadcrumb %}
        <ul class="breadcrumb">
        <li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Главная</a></li>
        <li class="active">Счетчики</li>
</ul>
{% endblock %}
{% block header_text %}
    Счетчики
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-xs-12">

            <div class="pull-right margin-bottom">
                <a class="btn btn-success" href="{% url 'meter-create' %}">Добавить показание</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <button onclick="clear_filters()" class="btn btn-default btn-sm">
                            <span class="hidden-xs">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div id="w0" class="grid-view">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-hover table-striped linkedRow" id="meter_table">
                            <thead>
                            <tr>
                                <th style="min-width: 200px">Дом</th>
                                <th style="min-width: 160px">Секция</th>
                                <th style="width: 110px; min-width: 110px"><a
                                        id="apartment__number" class="ordering" style="cursor: pointer">№
                                    квартиры</a></th>
                                <th>Счетчик</th>
                                <th style="width: 90px; min-width: 90px">Текущие показания</th>
                                <th style="width: 90px; min-width: 90px">Ед. изм.</th>
                                <th style="width: 85px; min-width: 85px">&nbsp;</th>
                            </tr>
                            <tr id="w0-filters" class="filters">
                                <td><select id="house" class="form-control select2_house"
                                style="width: 100%;">
                                    <option value=""></option>
                                    {% for house in house_list %}
                                            <option value="{{ house.pk }}">{{ house}}</option>
                                    {% endfor %}
                                </select></td>
                                <td><select id="section" class="form-control select2_section filter" style="width: 100%;">
                                    <option></option>
                                </select></td>
                                <td><input id="apartment" type="text" class="form-control column_search"></td>
                                <td><select id="service" class="form-control select2 filter" style="width: 100%;">
                                    <option></option>
                                    {% for service in service_list %}
                                        <option value="{{ service.pk }}">{{ service}}</option>
                                {% endfor %}
                                </select></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        $('#nav_meter').attr('class', 'active')
    </script>
    <script src="{% static 'admin_panel/bower_components/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/select2/dist/js/i18n/ru.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

       <script>

        let numb = 0
        let sort_data = {}
        let table
        let table_head = $('#meter_table thead')
        let filters_array
        let label_colors = {
            'Активен': 'label-success',
            'Неактивен': 'label-danger',
        }

        function check_empty(data) {
            if (data) {return data}
            else return '(не задано)'
        }
        function set_options(data, target_id) {
            $(`#${target_id} option`).remove()
            $(`#${target_id}`).append(`<option></option>`)
            data.forEach(function (item) {
                                $(`#${target_id}`).append(`<option value="${item['id']}">${item['name']}</option>`)
                            })
        }

        function clear_filters() {
            $('.column_search').val('');
            table_head.unbind();
            $(`.select2_section option`).remove()
            $(`.select2_section`).append(`<option></option>`)
            filters_array.forEach(function(item) {
              item.val('').change()
            })
            $('.ordering').attr('class', 'ordering');
            set_filters_listener()
            let keys = Object.keys(sort_data)
            keys.forEach(function (item) {
                sort_data[item] = ''
            })
            numb = 0
            table.draw()

        }

        function send_POST(e) {
            table = $('#meter_table').DataTable({
                serverSide: true,
                processing: false,
                ordering: false,
                oLanguage: {
                    sZeroRecords: "Ничего не найдено."
                },
                columnDefs: [
                    {className: "meter", "targets": [0, 1, 2,3,4,5]},
                    {targets: '_all', defaultContent: ''},
                    {
                "targets": [4,5],
                "createdCell": function (td, cellData, rowData, row, col) {
                $(td).css('background-color', '#DFD5')
                }},
                ],
                "ajax": {
                    "processing": true,
                    "url": "{% url 'meter-list' %}",
                    "data": function (d) {
                        return Object.assign(d, sort_data);
                    },
                    dataSrc: function (data) {
                        if(data['sections']) {
                            $('.select2_section').select2({placeholder: ""})
                            set_options(data['sections'],'section')
                        }
                        return data['meter']
                    },
                },
                "columns": [
                    {data: 'apartment__house__name'},
                    {data: 'apartment__section__name'},
                    {data: 'apartment__number'},
                    {data: 'service__name'},
                    {data: 'value'},
                    {data: 'service__unit__name',
                        render: function (data) {
                         return check_empty(data)
                     }},
                    {
                        data: 'id',
                        render: function (data, type,row) {

                            const link_new_value = '{% url 'meter-new-value-serv' apartment_id=12345 service_id=54321%}'.replace(/12345/, row.apartment).replace(/54321/,row.service)
                            let link_view = '{% url 'meter-view-list-serv' 12345 54321%}'.replace(/12345/, row.apartment).replace(/54321/,row.service)
                            console.log(link_view)
                            return `<div class="btn-group pull-right">\
            <a class="btn btn-default btn-sm" href="${link_new_value}"\
               title="Снять новое показание счетчика" data-toggle="tooltip">\
                <i class="fa fa-dashboard"></i>\
            </a>\
            <a class="btn btn-default btn-sm"\
               title="Открыть историю показаний для счетчика" data-toggle="tooltip" data-pjax="0" data-method="post"\
                href="${link_view}" ">\
                <i class="fa fa-eye"></i>\
            </a>\
        </div>`
                        },
                                            },
                ],
                paging: true,
                'pageLength': 10,
                'lengthChange': false,
                initComplete: (settings, json) => {
                    $('.dataTables_paginate').appendTo('.pagination-sm');
                },
                searching: false,
                info: false,
            });
        }
        function set_filters_listener() {
            table_head.on('change', ".filter", function a(e) {
            sort_data[this.id] = $(this).val()
            numb = 0
            table.draw()
        });
{% comment %}        table_head.on('change', ".select2_section", function a(e) {
            sort_data[this.id] = $(this).val()
            numb = 0
            table.draw()
        });{% endcomment %}
        table_head.on('change', ".select2_house", function a(e) {
            sort_data['section'] = ''
            sort_data[this.id] = $(this).val()
            if (sort_data[this.id]){
                sort_data['house_select'] = true
            }
            numb = 0
            table.draw()
            sort_data['house_select'] = ''
        });
        table_head.on('keyup', ".column_search", function a(e) {
            sort_data[this.id] = $(this).val()
            numb = 0
            table.draw()
        });
                table_head.on('click', '.ordering', function () {
            if (this.className === 'ordering asc') {
                $(this).attr('class', 'ordering desc')
                sort_data['order_by'] = '-' + this.id
            } else {
                $(this).attr('class', 'ordering asc')
                sort_data['order_by'] = this.id
            }
            table_head.find('.ordering').not(this).attr('class', 'ordering')
            numb = 0
            table.draw()
        })
                  }




        function confirm_delete(link, event) {
            alertify.confirm('Подтверждение удаления', 'Удалить дом <b>'
                + $(event.target).closest("tr ").children().eq(0).text() + '</b> ?',
                function () {
                    window.location.href = link
                },
                function () {
                }).set({labels: {ok: 'Подтвердить', cancel: 'Отмена'}});
            return false;
        }

        $('#meter_table').on('click', 'tbody tr .meter', function () {
            window.location.href = '{% url 'meter-view-list-serv' 12345 54321%}'.replace(/12345/, table.row(this).data().apartment).replace(/54321/,table.row(this).data().service)
        })


        $(document).ready(function () {

            send_POST();
            $('.column_search').val('');
            let $select2 = $('.select2').select2({placeholder: ""}).val('');
            let $select2_section = $('.select2_section').select2({placeholder: "Выберите дом"}).val('');
            let $house = $('#house').select2({placeholder: ""});
            filters_array = [$select2,$select2_section,$house]
            set_filters_listener()
            {#$('#section__name').select2();#}
            {#$('#floor__name').select2();#}
            {#$('#owner__name').select2();#}
        });
    </script>

{% endblock %}