{% extends 'layout/cabinet.html' %}
{% load static %}
{% block title %}Зведення - {{ apartment.info }} {% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'cabinet' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li class="active">Зведення - {{ apartment.info }}</li>
    </ul>
{% endblock %}
{% block header_text %}
    Зведення - {{apartment.info}}
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ apartment.personalaccount.balance|floatformat:'2' }} грн</h3>
                    <p>Баланс по квартирі</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <span class="small-box-footer">

            </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>{{ apartment.personalaccount.number }}</h3>
                    <p>Особовий рахунок</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <span class="small-box-footer">

            </span>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ receipts_agv_debt|floatformat:'2' }} грн</h3>
                    <p>Середня витрата за місяць</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pie-chart"></i>
                </div>
                <span class="small-box-footer">

            </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 id="pieChartTitle" class="box-title">Діаграма витрат</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div id="pieChartMonth-container" class="col-md-6 col-xs-12">
                            <h4 class="text-center">за попередній місяць</h4>
                            <div class="col-xs-12">
                                <div class="chart">
                                    <canvas id="pieChartMonth" style="width: 795px; height: 330px;"></canvas>
                                </div>
                            </div>
                        </div>

                        <div id="pieChartYear-container" class="col-md-6 col-xs-12">
                            <h4 class="text-center">за поточний рік</h4>
                            <div class="col-xs-12">
                                <div class="chart">
                                    <canvas id="pieChartYear" style="width: 795px; height: 330px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Діаграма витрат за місяці за рік</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="chart">
                                <canvas id="barChart" style="width: 795px; height: 330px;"></canvas>
                                <div id="barChart-legend" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script src="{% static 'admin_panel/bower_components/moment/moment.js' %}"></script>
    <script src="{% static 'admin_panel/bower_components/moment/locale/uk.js' %}"></script>
    <script>
        $("#nav_summary").attr('class', 'active treeview menu-open')
        $("#nav_summary-{{ apartment.pk }}").attr('class', 'active')
    </script>
    <script>
        let date_labels = []
        let year_services_outcome = []
        let year_services_outcome_labels = []
        let previous_month_services_outcome = []
        let previous_month_services_outcome_labels = []
        let receipts_debt_by_month = []
        {% for i in receipts_debt_by_month %}
            date_labels.push(moment('{{ i.month|date:'Y-m-d'}}').format('MMM, YYYY'))
            receipts_debt_by_month.push('{{ i.sum|floatformat:'2' }}')
        {% endfor %}
        {% for i in previous_month_services_outcome %}
            previous_month_services_outcome_labels.push('{{ i.receiptservice__service__name }}')
            previous_month_services_outcome.push('{{ i.sum|floatformat:'2' }}')
        {% endfor %}
        {% for i in year_services_outcome %}
            year_services_outcome_labels.push('{{ i.receiptservice__service__name }}')
            year_services_outcome.push('{{ i.sum|floatformat:'2' }}')
        {% endfor %}
        $(document).ready(function() {
            const plugin = {
                id: 'emptyDoughnut',
                afterDraw(chart, args, options) {
                    const {datasets} = chart.data;
                    const {color, width, radiusDecrease} = options;
                    let hasData = false;

                    for (let i = 0; i < datasets.length; i += 1) {
                        const dataset = datasets[i];
                        hasData |= dataset.data.length > 0;
                    }

                    if (! hasData) {
                        const {chartArea: {left, top, right, bottom}, ctx} = chart;
                        const centerX = (left + right) / 2;
                        const centerY=(top+bottom)/2;
                        const r = Math.min(right - left, bottom - top) / 2;

                        ctx.beginPath();
                        ctx.lineWidth = width || 2;
                        ctx.strokeStyle = color || 'rgba(255, 128, 0, 0.5)';
                        ctx.arc(centerX, centerY, (r - radiusDecrease || 0), 0, 2 * Math.PI);
                        ctx.stroke();
                    }
                }
            };
            const previous_month_chart = document.getElementById('pieChartMonth').getContext('2d');
            if (previous_month_services_outcome.length === 0) {
                previous_month_services_outcome_labels = ['немає даних']
            }

            new Chart(previous_month_chart, {
                type: 'pie',
                data: {
                    labels: previous_month_services_outcome_labels,
                    datasets: [{
                        label: 'за попередній місяць',
                        data: previous_month_services_outcome
                    }]
                },
            })
            let outcome_diagram_chart = document.getElementById('barChart').getContext('2d');

            new Chart(outcome_diagram_chart, {
                type: 'bar',
                data: {
                    labels: date_labels,
                    datasets: [{
                        backgroundColor: 'rgb(54, 162, 235)',
                        label: 'за місяцями за рік',
                        data: receipts_debt_by_month
                    }]
                }
            })


            let current_year_chart = document.getElementById('pieChartYear').getContext('2d');
            if (year_services_outcome.length === 0) {
                year_services_outcome_labels = ['немає даних']
            }
            new Chart (current_year_chart, {
                type: 'pie',
                data: {
                    labels: year_services_outcome_labels,
                    datasets: [{
                        label: 'за поточний рік',
                        data: year_services_outcome
                    }]
                }
            })


        })


    </script>
{% endblock %}
