{% extends 'layout/admin_panel.html' %}
{% block nav_header_title %}
    Личный кабинет
{% endblock %}
{% block notifications %}
    <li class="dropdown notifications-menu open">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-bell"></i>
        </a>
        <ul class="dropdown-menu">

            <li class="header">Нет новых сообщений</li>
            <li class="footer"><a href="/cabinet/message/index">Перейти в раздел сообщений</a></li>

        </ul>
    </li>
{% endblock %}
{% block navigation %}
    <li class="active treeview"><a href="#!"><i class="fa fa-line-chart"></i> <span>Сводка</span> <span
            class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu" style="display: none;"></ul>
    </li>
    <li class="treeview"><a href="#!"><i class="fa fa-files-o"></i> <span>Квитанции</span> <span
            class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu"></ul>
    </li>
    <li class="treeview"><a href="/cabinet/tariff/index"><i class="fa fa-money"></i> <span>Тарифы</span> <span
            class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
        <ul class="treeview-menu"></ul>
    </li>
    <li><a href="/cabinet/message/index"><i class="fa fa-envelope-o"></i> <span>Сообщения</span></a></li>
    <li><a href="/cabinet/master-request/index"><i class="fa fa-wrench"></i> <span>Вызов мастера</span></a></li>
    <li><a href="/cabinet/user/view"><i class="fa fa-user-circle-o"></i> <span>Профиль</span></a></li>
{% endblock %}