{% extends 'layout/cabinet.html' %}
{% block title %}Тарифи-{{ apartment_name }}{% endblock %}
{% block header_text %}
    Тарифи - {{ apartment_name }}
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'cabinet' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li class="active">Тарифи-{{ apartment_name }}</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <div class="table-responsive no-padding">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th style="min-width:250px">Послуга</th>
                        <th style="min-width:150px">Од. вим.</th>
                        <th style="min-width:150px">Ціна за од., грн</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tariffservice in tariffservice_list %}
                        <tr>
                            <td>{{ tariffservice.service.name }}</td>
                            <td>{{ tariffservice.service.unit.name }}</td>
                            <td>{{tariffservice.price}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
<script>
        $("#nav_tariffs").attr('class', 'active treeview menu-open')
        $("#nav_tariff-{{ view.kwargs.pk }}").attr('class', 'active')
    </script>
{% endblock %}