{% extends 'admin_owner/owner_create.html' %}
{% block title %}Профіль власника{% endblock %}
{% block header_text %}
    Профіль власника
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb"><li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i>Головна</a></li>
        <li><a href="{% url 'owner_list' %}">Власники квартир</a></li>
        <li><a href="{% url 'owner_view' owner.pk %}">Власники квартир</a></li>
        <li class="active">Редагування</li>
</ul>
{% endblock %}
{% block passwords %}
{% endblock %}
