{% extends 'layout/admin_panel.html' %}
{% load static %}
{% block title %}Профіль власника{% endblock %}
{% block header_text %}
    Профіль власника
{% endblock %}
{% block breadcrumb %}
    <ul class="breadcrumb"><li><a href="{% url 'statistic' %}"><i class="fa fa-home"></i> Головна</a></li>
        <li><a href="{% url 'owner_list' %}">Власники квартир</a></li>
    <li class="active">Профіль власника</li>
</ul>
{% endblock %}
{% block content %}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <a href="#" target="_blank" class="btn btn-default btn-sm"><i class="fa fa-external-link"></i> Перейти до кабінету</a>
            <a href="{% url 'owner_update' owner.pk %}" class="btn btn-primary btn-sm">
                <span class="hidden-xs">Редагувати профіль</span><i class="fa fa-pencil visible-xs" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="userAvatar">
                    <img class="img-circle img-responsive"
                         {% if owner.profile_image %}
                         src="{{owner.profile_image.url}}"
                         {% else %}
                            src="{% static 'admin_panel/dist/img/placeholder_160x160.jpeg' %}"
                            {% endif %}
                         alt="{{owner.username}}">
                </div>
                <div class="table-responsive no-padding">
                    <table class="table table-bordered table-striped table-view">
                        <tbody>
                            <tr>
                                <td>Статус</td>
                                <td><small id="status" class="label {{owner.get_status_label_color }}">
                                    {{owner.status}}</small></td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>{{owner.uid}}</td>
                            </tr>
                            <tr>
                                <td>Прізвище</td>
                                <td>{{owner.last_name}}</td>
                            </tr>
                            <tr>
                                <td>Ім'я</td>
                                <td>{{owner.first_name}}</td>
                            </tr>
                            <tr>
                                <td>По батькові</td>
                                <td>{{owner.middle_name}}</td>
                            </tr>
                            <tr>
                                <td>Дата народження</td>
                                <td>{{owner.birth_date|date:'d.m.Y'}}</td>
                            </tr>
                            <tr>
                                <td>Про власника (нотатки)</td>
                                <td>{{owner.notes}}</td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td>
                                    {{owner.phone}}
                                    <!--<a href="tel:">-->
                                                                            <!--</a>-->
                                </td>
                            </tr>
                            <tr>
                                <td>Viber</td>
                                <td>{{owner.viber}}</td>
                            </tr>
                            <tr>
                                <td>Telegram</td>
                                <td>{{owner.telegram}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    {{owner.username}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts%}
    <script>
        $('#nav_owners').attr('class', 'active')
    </script>
{% endblock %}